@import url('../../../../styles/mixins.css');

.base {
  @mixin ellipsis;

  min-inline-size: var(--kbq-top-bar-title-min-inline-size);
  color: var(--kbq-foreground-contrast);
}

:where(.base) {
  margin: unset;
}
