.base {
  --input-padding-inline: var(--kbq-size-m);
  --input-padding-block: var(--kbq-size-xs);
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.fullWidth {
  inline-size: 100%;
}
