.base {
  margin: 0;
  display: flex;
  overflow-y: auto;
  list-style: none;
  min-inline-size: 0;
  inline-size: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding-inline: 0;
  scrollbar-width: auto;
  scrollbar-gutter: auto;
  scrollbar-color: var(--kbq-scrollbar-thumb-default-background)
    var(--kbq-background-transparent);
  padding-block: var(--kbq-size-xxs) var(--kbq-size-xxl);
  min-block-size: var(--file-upload-list-min-block-size);
  max-block-size: var(--file-upload-list-max-block-size);
}
