/* container */
.base {
  --tabs-direction: ;
  --tabs-gap: ;
}

.fullWidth:not(.vertical) {
  .tab {
    inline-size: 100%;
  }
}

.vertical:not(.underlined) {
  --tabs-direction: column;
  --tabs-gap: var(--kbq-size-s);
  display: flex;
}

/* tabs */
.tabList {
  --tab-outline-color: transparent;
  --tab-outline-width: var(--kbq-size-3xs);
  --tab-color: var(--kbq-foreground-contrast);
  --tab-border-radius: var(--kbq-size-s);
  --tab-bg-color: ;
  overflow: hidden;
  scrollbar-width: none;
  display: flex;
  flex-direction: var(--tabs-direction);
  gap: var(--tabs-gap);
  position: relative;
  flex-shrink: 0;

  &[aria-orientation='horizontal'] {
    overflow-x: scroll;
  }

  &[aria-orientation='vertical'] {
    overflow-y: scroll;
  }
}

.underlined {
  padding-block: var(--kbq-size-s);

  &::after {
    content: '';
    block-size: 1px;
    inset-inline: 0;
    inset-block-end: 0;
    position: absolute;
    background: var(--kbq-line-contrast-less);
  }
}

/* panel */
.tabPanel {
  padding: var(--kbq-size-m);
}

/* indicator */
.selectionIndicator {
  --thumb-inline-size: ;
  --thumb-block-size: ;
  --thumb-transform: ;
  transform: var(--thumb-transform);
  inline-size: var(--thumb-inline-size);
  block-size: var(--thumb-block-size);
  position: absolute;
  transition:
    inline-size 200ms ease-in,
    block-size 200ms ease-in,
    transform 200ms ease-in;
}

.defaultIndicator {
  will-change: transform, width, height;
  border-radius: var(--tab-border-radius);
  background-color: var(--kbq-states-background-transparent-active);
}

.underlinedIndicator {
  inset-block-end: 0;
  block-size: 3px;
  display: block;
  border-radius: 2px 2px 0 0;
  background: var(--kbq-line-contrast);
}

/* tab */
.tab {
  display: flex;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  color: var(--tab-color);
  padding-inline: var(--kbq-size-m);
  padding-block: var(--kbq-size-xs);
  min-block-size: var(--kbq-size-3xl);
  background-color: var(--tab-bg-color);
  border-radius: var(--tab-border-radius);
  outline-offset: calc(-1 * var(--tab-outline-width));
  outline: var(--tab-outline-width) solid var(--tab-outline-color);

  transition:
    outline-color var(--kbq-transition-default),
    background-color var(--kbq-transition-default),
    color var(--kbq-transition-default);

  &:hover:not(.selected, .disabled) {
    --tab-bg-color: var(--kbq-states-background-transparent-hover);
  }

  &:focus-visible {
    --tab-outline-color: var(--kbq-states-line-focus-theme);
  }
}

.disabled {
  --tab-color: var(--kbq-states-foreground-disabled);
  cursor: not-allowed;
}

.tabContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
