@import url('../../styles/mixins.css');

.base {
  display: flex;
  position: relative;
}

/* container */
.container {
  display: flex;
  gap: var(--kbq-size-m);
}

.default {
  .tab {
    min-inline-size: 40px;

    &.selected .content {
      background-color: var(--kbq-states-background-transparent-active);
    }

    &.hovered .content {
      background-color: var(--kbq-states-background-transparent-hover);
    }
  }
}

.underlined {
  .base::after {
    content: '';
    inset-inline: 0;
    inset-block-end: 0;
    position: absolute;
    block-size: var(--kbq-size-border-width);
    background: var(--kbq-line-contrast-less);
    z-index: var(--kbq-layer-absolute);
  }

  .tab {
    --tab-content-offset: var(--kbq-size-m);

    min-inline-size: 40px;
    box-sizing: content-box;
    padding-block: var(--kbq-size-s);
    border-inline: var(--tab-content-offset) solid transparent;

    .content {
      padding-inline: var(--tab-content-offset);
      margin-inline: calc(-1 * var(--tab-content-offset));
      inline-size: calc(100% + calc(2 * var(--tab-content-offset)));
    }

    &::after {
      content: '';
      position: absolute;
      inline-size: 100%;
      block-size: 3px;
      inset-block-end: 0;
      inset-block-start: unset;
      border-radius: 2px 2px 0 0;
      background-color: transparent;
      z-index: calc(var(--kbq-layer-absolute) + 1);
    }
  }

  .tab.onlyIcon {
    --tab-content-offset: 0px;

    min-inline-size: 32px;
    border-inline: var(--kbq-size-xs) solid transparent;
  }

  .tab:first-child {
    border-inline-start: 0;
  }

  .tab:last-child {
    border-inline-end: 0;
  }

  .tab.selected {
    &::after {
      background-color: var(--kbq-line-contrast);
    }
  }

  .tab.hovered {
    &::after {
      background-color: var(--kbq-line-contrast-fade);
    }
  }
}

.horizontal {
  flex-direction: column;

  .scrollBox {
    display: flex;
    inline-size: 100%;
    scrollbar-width: none;
    overflow: auto hidden;
  }

  .tabList {
    flex-direction: row;
  }

  .tab .content {
    justify-content: center;
  }
}

.vertical {
  .scrollBox {
    display: inline-block;
    inline-size: auto;
    scrollbar-width: auto;
    overflow: hidden auto;
  }

  .tabList {
    flex-direction: column;
  }

  .tab {
    inline-size: 100%;
    padding-block: var(--kbq-size-xxs);

    .content {
      justify-content: flex-start;
    }
  }

  .tab:first-child {
    padding-block-start: 0;
  }

  .tab:last-child {
    padding-block-end: 0;
  }

  .label {
    min-inline-size: 0;

    @mixin ellipsis;
  }
}

.stretched {
  .scrollBox {
    overflow: hidden;
  }

  .tab {
    inline-size: 100%;
  }

  .label {
    min-inline-size: 0;

    @mixin ellipsis;
  }
}

/* tab-list */
.tabList {
  flex-grow: 1;
  display: flex;
  position: relative;
}

/* tab */
.tab {
  display: flex;
  outline: none;
  cursor: pointer;
  position: relative;
  align-items: stretch;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  transition: background-color var(--kbq-transition-default);

  &::after {
    transition: background-color var(--kbq-transition-default);
  }
}

.focusVisible .content {
  outline-color: var(--kbq-states-line-focus-theme);
}

.disabled .content {
  color: var(--kbq-states-foreground-disabled);
  cursor: default;
}

.content {
  display: flex;
  gap: var(--kbq-size-xxs);
  align-items: center;
  overflow: hidden;
  inline-size: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  min-block-size: 32px;
  padding-inline: var(--kbq-size-m);
  padding-block: var(--kbq-size-xs);
  color: var(--kbq-foreground-contrast);
  border-radius: var(--kbq-size-border-radius);
  outline-offset: calc(-1 * var(--kbq-size-3xs));
  outline: var(--kbq-size-3xs) solid;
  outline-color: transparent;
  transition:
    outline-color var(--kbq-transition-default),
    background-color var(--kbq-transition-default),
    color var(--kbq-transition-default);
}

.addon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
