.base {
  display: flex;
  flex-direction: column;

  .skeleton {
    block-size: calc(1em * 0.9);
  }
}

.row {
  display: flex;
  align-items: center;

  &::after {
    font-size: 0;
    content: '\00a0';
  }
}
