@import url('../../styles/mixins.css');

.base {
  margin: unset;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.align-start {
  text-align: start;
}

.align-end {
  text-align: end;
}

.align-center {
  text-align: center;
}

.align-initial {
  text-align: initial;
}

.align-inherit {
  text-align: inherit;
}

.ellipsis {
  @mixin ellipsis;
}
