.grid {
  display: grid;
  place-items: center center;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--storybook-content-max-with) / 5), 1fr)
  );
}

.grid-item {
  gap: 1em;
  display: flex;
  block-size: 100px;
  inline-size: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.icon-name {
  inline-size: 100%;
  color: var(--kbq-foreground-contrast-tertiary);
}

.search {
  inset-block-start: 0;
  position: sticky;
  padding: var(--kbq-size-l) 0;
  z-index: var(--kbq-layer-absolute);
  margin: calc(-1 * var(--kbq-size-l)) 0;
  background-color: var(--kbq-background-bg);

  &::after {
    position: absolute;
    inset-block-start: 100%;
    display: block;
    inline-size: 100%;
    block-size: 12px;
    content: '';
    background: linear-gradient(
      var(--kbq-background-bg),
      var(--kbq-background-transparent)
    );
  }
}
