.base {
  --field-addon-color: var(--kbq-icon-contrast-fade);
  z-index: 1;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: var(--field-addon-color);
  block-size: var(--field-size-height);
  transition: color var(--kbq-transition-default);
}

.start {
  padding-inline: var(--kbq-size-m) var(--kbq-size-s);
}

.end {
  inset-inline-end: 0;
  padding-inline: var(--kbq-size-s) var(--kbq-size-m);
}

.invalid {
  --field-addon-color: var(--kbq-icon-error);
}

.disabled {
  --field-addon-color: var(--kbq-states-icon-disabled);
}
