.base {
  --toast-inline-size: 360px;
  --toast-outline-color: transparent;
  --toast-outline-width: var(--kbq-size-3xs);
  --toast-transition-duration: 300ms;

  outline: none;
  box-sizing: border-box;
  border-radius: var(--kbq-size-s);
  inline-size: var(--toast-inline-size);
  transition:
    margin var(--kbq-transition-slow),
    block-size var(--kbq-transition-slow);
  transition-duration: var(--toast-transition-duration);

  &:focus-visible {
    --toast-outline-color: var(--kbq-states-line-focus-theme);
  }

  &::after {
    content: '';
    inset: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    z-index: var(--kbq-layer-absolute);
    transition: outline-color var(--kbq-transition-default);
    outline-offset: calc(-1 * var(--toast-outline-width) / 2);
    outline: var(--toast-outline-width) solid var(--toast-outline-color);
  }
}

.wrapper {
  display: flex;
  border-radius: inherit;
  box-shadow: var(--kbq-shadow-popup);
  background-color: var(--kbq-background-card);
  padding-inline: var(--kbq-size-m) var(--kbq-size-s);
  transition:
    opacity var(--kbq-transition-slow),
    transform var(--kbq-transition-slow);
  transition-duration: var(--toast-transition-duration);
}

/* animation */
.base[data-transition='entering'] .wrapper {
  opacity: 1;
  transform: scale(1);
}

.base[data-transition='entered'] .wrapper {
  opacity: 1;
  transform: scale(1);
}

.base[data-transition='exiting'] .wrapper {
  opacity: 0;
  transform: scale(0.5);
}

.base[data-transition='exited'] .wrapper {
  opacity: 0;
  transform: scale(0.5);
}

.content {
  display: flex;
  inline-size: 100%;
  flex-direction: column;
  gap: var(--kbq-size-xxs);
  padding: var(--kbq-size-l) var(--kbq-size-s) var(--kbq-size-l) 0;
}

.closeIcon {
  order: 1;
  margin-block-start: var(--kbq-size-m);
  margin-inline-end: var(--kbq-size-xxs);
}

.action {
  display: flex;
  gap: var(--kbq-size-m);
}
