.base {
  --toast-outline-color: transparent;
  --toast-inline-size: 360px;
  --toast-outline-width: var(--kbq-size-3xs);

  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  position: relative;
  border-radius: var(--kbq-size-s);
  box-shadow: var(--kbq-shadow-popup);
  inline-size: var(--toast-inline-size);
  transform-origin: center;
  transition:
    opacity var(--kbq-transition-slow),
    margin var(--kbq-transition-slow),
    transform var(--kbq-transition-slow),
    block-size var(--kbq-transition-slow);
  background-color: var(--kbq-background-card);
  padding-inline: var(--kbq-size-m) var(--kbq-size-s);

  &:focus-visible {
    --toast-outline-color: var(--kbq-states-line-focus-theme);
  }

  &::after {
    content: '';
    inset: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    z-index: var(--kbq-layer-absolute);
    transition: outline-color var(--kbq-transition-default);
    outline-offset: calc(-1 * var(--toast-outline-width) / 2);
    outline: var(--toast-outline-width) solid var(--toast-outline-color);
  }
}

.wrapper {
  display: flex;
}

.content {
  display: flex;
  inline-size: 100%;
  flex-direction: column;
  gap: var(--kbq-size-xxs);
  padding: var(--kbq-size-l) var(--kbq-size-s) var(--kbq-size-l) 0;
}

.closeIcon {
  order: 1;
  margin-block-start: var(--kbq-size-m);
  margin-inline-end: var(--kbq-size-xxs);
}

.action {
  display: flex;
  gap: var(--kbq-size-m);
}
