@import url('./mixins.css');

.hide-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  block-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  inline-size: 1px;
  white-space: nowrap;
}

/* colors */
.foreground-white {
  color: var(--kbq-foreground-white);
}

.foreground-white-secondary {
  color: var(--kbq-foreground-white-secondary);
}

.foreground-theme {
  color: var(--kbq-foreground-theme);
}

.foreground-theme-secondary {
  color: var(--kbq-foreground-theme-secondary);
}

.foreground-contrast {
  color: var(--kbq-foreground-contrast);
}

.foreground-on-contrast {
  color: var(--kbq-foreground-on-contrast);
}

.foreground-contrast-secondary {
  color: var(--kbq-foreground-contrast-secondary);
}

.foreground-contrast-tertiary {
  color: var(--kbq-foreground-contrast-tertiary);
}

.foreground-error {
  color: var(--kbq-foreground-error);
}

.foreground-error-secondary {
  color: var(--kbq-foreground-error-secondary);
}

.foreground-error-tertiary {
  color: var(--kbq-foreground-error-tertiary);
}

.foreground-error-less {
  color: var(--kbq-foreground-error-less);
}

.foreground-success {
  color: var(--kbq-foreground-success);
}

.foreground-success-less {
  color: var(--kbq-foreground-success-less);
}

.foreground-success-secondary {
  color: var(--kbq-foreground-success-secondary);
}

.foreground-warning {
  color: var(--kbq-foreground-warning);
}

.foreground-warning-secondary {
  color: var(--kbq-foreground-warning-secondary);
}

.foreground-visited {
  color: var(--kbq-foreground-visited);
}

/* typography */
.display-big {
  @mixin typography display-big;
}

.display-normal {
  @mixin typography display-normal;
}

.display-compact {
  @mixin typography display-compact;
}

.display-big-strong {
  @mixin typography display-big-strong;
}

.display-normal-strong {
  @mixin typography display-normal-strong;
}

.display-compact-strong {
  @mixin typography display-compact-strong;
}

.headline {
  @mixin typography headline;
}

.title {
  @mixin typography title;
}

.subheading {
  @mixin typography subheading;
}

.text-big {
  @mixin typography text-big;
}

.text-big-strong {
  @mixin typography text-big-strong;
}

.text-big-medium {
  @mixin typography text-big-medium;
}

.text-normal {
  @mixin typography text-normal;
}

.text-normal-strong {
  @mixin typography text-normal-strong;
}

.text-normal-medium {
  @mixin typography text-normal-medium;
}

.text-compact {
  @mixin typography text-compact;
}

.text-compact-strong {
  @mixin typography text-compact-strong;
}

.text-compact-medium {
  @mixin typography text-compact-medium;
}

.caps-big {
  @mixin typography caps-big;
}

.caps-big-strong {
  @mixin typography caps-big-strong;
}

.caps-normal {
  @mixin typography caps-normal;
}

.caps-normal-strong {
  @mixin typography caps-normal-strong;
}

.caps-compact {
  @mixin typography caps-compact;
}

.caps-compact-strong {
  @mixin typography caps-compact-strong;
}

.mono-big {
  @mixin typography mono-big;
}

.mono-big-strong {
  @mixin typography mono-big-strong;
}

.mono-normal {
  @mixin typography mono-normal;
}

.mono-normal-strong {
  @mixin typography mono-normal-strong;
}

.mono-compact {
  @mixin typography mono-compact;
}

.mono-compact-strong {
  @mixin typography mono-compact-strong;
}

.mono-codeblock {
  @mixin typography mono-codeblock;
}

.tabular-big {
  @mixin typography tabular-big;
}

.tabular-big-strong {
  @mixin typography tabular-big-strong;
}

.tabular-normal {
  @mixin typography tabular-normal;
}

.tabular-normal-strong {
  @mixin typography tabular-normal-strong;
}

.tabular-compact {
  @mixin typography tabular-compact;
}

.tabular-compact-strong {
  @mixin typography tabular-compact-strong;
}

.italic-big {
  @mixin typography italic-big;
}

.italic-big-strong {
  @mixin typography italic-big-strong;
}

.italic-normal {
  @mixin typography italic-normal;
}

.italic-normal-strong {
  @mixin typography italic-normal-strong;
}

.italic-compact {
  @mixin typography italic-compact;
}

.italic-compact-strong {
  @mixin typography italic-compact-strong;
}

.inherit {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  font-feature-settings: inherit;
  text-underline-offset: inherit;
}

/* list */
.list,
.list ul {
  margin: 0;
  padding: 0;
  outline: none;
  overflow: auto;
  list-style: none;
}

.list[data-padded] {
  padding-block: var(--kbq-size-xxs);

  .list-item,
  .list-heading,
  .list-footer {
    border-inline: var(--kbq-size-xxs) solid transparent;
    background-clip: padding-box;
  }
}

.list-heading {
  user-select: none;
  box-sizing: border-box;
  padding: var(--kbq-size-s) var(--kbq-size-m);
}

.list-footer {
  box-sizing: border-box;
  padding: var(--kbq-size-s) var(--kbq-size-m);
}

.list-item {
  --list-item-bg-color: ;
  --list-item-outline-color: transparent;
  --list-item-outline-width: var(--kbq-size-3xs);
  position: relative;
  outline: none;
  flex-shrink: 0;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  gap: var(--kbq-size-s);
  align-items: center;
  color: var(--kbq-foreground-contrast);
  padding: var(--kbq-size-xs) var(--kbq-size-m);
  z-index: var(--kbq-layer-absolute);
  transition:
    border-color var(--kbq-transition-default),
    border-radius var(--kbq-transition-default),
    color var(--kbq-transition-default);

  & > * {
    z-index: var(--kbq-layer-absolute);
  }

  &::before {
    content: '';
    outline-offset: calc(-1 * var(--list-item-outline-width));
    outline: var(--list-item-outline-width) solid var(--list-item-outline-color);
    transition: background-color var(--kbq-transition-default);
    background-color: var(--list-item-bg-color);
    position: absolute;
    border-radius: var(--kbq-size-s);
    pointer-events: none;
    z-index: -1;
    inset: 0;
  }
}

.list-item:where([data-hovered='true']) {
  --list-item-bg-color: var(--kbq-states-background-transparent-hover);
}

.list-item:where([data-pressed='true']) {
  --list-item-bg-color: var(--kbq-states-background-transparent-active);
}

.list-item:where([data-focus-visible='true']) {
  --list-item-outline-color: var(--kbq-states-line-focus-theme);
}

.list-item:where([data-selected='true']) {
  --list-item-bg-color: var(--kbq-background-theme-less);
}

.list-item:where([data-selected='true'][data-hovered='true']) {
  --list-item-bg-color: var(--kbq-states-background-theme-less-hover);
}

.list-item:where([data-selected='true'][data-pressed='true']) {
  --list-item-bg-color: var(--kbq-states-background-theme-less-active);
}

.list-item:where([data-disabled='true']),
.list-item:where([aria-disabled='true']) {
  --list-item-bg-color: ;
  cursor: not-allowed;
  opacity: 0.3;
}

.list-item:where([data-selected='true'][data-disabled='true']),
.list-item:where([data-selected='true'][aria-disabled='true']) {
  --list-item-bg-color: var(--kbq-background-theme-less);
}

.list[aria-multiselectable='true'] .list-item:where([data-selected='true']) {
  --list-item-bg-color: var(--kbq-background-contrast-less);
}

.list[aria-multiselectable='true']
  .list-item:where([data-selected='true'][data-hovered='true']) {
  --list-item-bg-color: var(--kbq-states-background-contrast-less-hover);
}

.list[aria-multiselectable='true']
  .list-item:where([data-selected='true'][data-pressed='true']) {
  --list-item-bg-color: var(--kbq-states-background-contrast-less-active);
}

.list[aria-multiselectable='true']
  .list-item:is([data-selected='true'], [data-focus-visible='true']):has(
    + :is([data-selected='true'], [data-focus-visible='true'])
  ) {
  &::before {
    border-end-end-radius: 0;
    border-end-start-radius: 0;
  }
}

.list[aria-multiselectable='true']
  .list-item:is([data-selected='true'], [data-focus-visible='true'])
  + :is([data-selected='true'], [data-focus-visible='true']) {
  &::before {
    border-start-end-radius: 0;
    border-start-start-radius: 0;
  }
}

/* scroll */
.scrollable {
  --scroll-bar-size: 16px;

  &::-webkit-scrollbar {
    inline-size: var(--scroll-bar-size);
  }

  &::-webkit-scrollbar-thumb {
    border: calc(var(--scroll-bar-size) / 4) solid transparent;
    border-image: initial;
    background-clip: padding-box;
    min-block-size: calc(var(--scroll-bar-size) * 2);
    background-color: var(--kbq-icon-contrast-fade);
    border-radius: calc(var(--scroll-bar-size) / 2);

    &:hover,
    &:active {
      border: calc(var(--scroll-bar-size) / 4) solid transparent;
      background-clip: padding-box;
    }

    &:hover {
      background-color: var(--kbq-states-icon-contrast-fade-hover);
    }

    &:active {
      background-color: var(--kbq-states-icon-contrast-fade-active);
    }
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
