node_modules
dist
.DS_Store
.idea
.firebase
.next

.claude

# Dotenv environment variables file
.env

# Vitest
coverage

# Storybook
storybook-static

# Turborepo cache directory
.turbo

# api-extractor temp
tools/public_api_guard/temp
