@import url('../../../styles/mixins.css');

.base {
  inline-size: 100%;

  @mixin typography text-compact;

  color: var(--kbq-foreground-error);
  transition: color var(--kbq-transition-default);
}
