.base {
  --top-bar-background: var(--kbq-background-bg);
  --top-bar-padding-block: var(--kbq-size-m);
  --top-bar-padding-inline: var(--kbq-size-xxl);
  --top-bar-border-radius: 0;
  --top-bar-min-block-size: var(--kbq-size-6xl);
  --top-bar-gap: 80px;
  --top-bar-z-index: var(--kbq-layer-topbar);
  --top-bar-shadow: var(--kbq-shadow-overflow-normal-bottom);
  --top-bar-container-start-gap: 0;
  --top-bar-container-start-min-inline-size: 0;
  --top-bar-container-end-gap: var(--kbq-size-s);
  --top-bar-title-min-inline-size: 4ch;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  min-block-size: var(
    --kbq-top-bar-min-block-size,
    var(--top-bar-min-block-size)
  );
  gap: var(--kbq-top-bar-gap, var(--top-bar-gap));
  padding-block: var(--kbq-top-bar-padding-block, var(--top-bar-padding-block));
  padding-inline: var(
    --kbq-top-bar-padding-inline,
    var(--top-bar-padding-inline)
  );
  border-radius: var(--kbq-top-bar-border-radius, var(--top-bar-border-radius));
  background: var(--kbq-top-bar-background, var(--top-bar-background));
  transition: box-shadow var(--kbq-transition-slow);
}

/* position */
.base[data-position='sticky'] {
  position: sticky;
  z-index: var(--kbq-top-bar-z-index, var(--top-bar-z-index));
  inset-block-start: 0;
}

/* shadow */
.base[data-shadow='true'] {
  box-shadow: var(--kbq-top-bar-shadow, var(--top-bar-shadow));
}
