.base {
  --topbar-background: var(--kbq-background-bg);
  --topbar-padding-block: var(--kbq-size-m);
  --topbar-padding-inline: var(--kbq-size-xxl);
  --topbar-border-radius: 0;
  --topbar-min-block-size: var(--kbq-size-6xl);
  --topbar-gap: 80px;
  --topbar-z-index: var(--kbq-layer-topbar);
  --topbar-shadow: var(--kbq-shadow-overflow-normal-bottom);
  --topbar-container-start-gap: 0;
  --topbar-container-start-min-inline-size: 0;
  --topbar-container-end-gap: var(--kbq-size-s);
  --topbar-title-min-inline-size: 4ch;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  min-block-size: var(
    --kbq-topbar-min-block-size,
    var(--topbar-min-block-size)
  );
  gap: var(--kbq-topbar-gap, var(--topbar-gap));
  padding-block: var(--kbq-topbar-padding-block, var(--topbar-padding-block));
  padding-inline: var(
    --kbq-topbar-padding-inline,
    var(--topbar-padding-inline)
  );
  border-radius: var(--kbq-topbar-border-radius, var(--topbar-border-radius));
  background: var(--kbq-topbar-background, var(--topbar-background));
  transition: box-shadow var(--kbq-transition-slow);
}

/* position */
.base[data-position='sticky'] {
  position: sticky;
  z-index: var(--kbq-topbar-z-index, var(--topbar-z-index));
  inset-block-start: 0;
}

/* shadow */
.base[data-shadow='true'] {
  box-shadow: var(--kbq-topbar-shadow, var(--topbar-shadow));
}
