@import url('../../styles/mixins.css');

.list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.compact {
  @mixin typography text-normal;
}

.normal {
  @mixin typography text-big;
}

.big {
  @mixin typography subheading;
}

/* item-list */
.item {
  display: flex;
  align-items: center;
}

/* divider */
.divider {
  display: flex;
  user-select: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--kbq-states-foreground-disabled);
}
