@import url('../../styles/mixins.css');

.base {
  display: flex;
  inline-size: 100%;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  inline-size: 100%;
}

.compact {
  @mixin typography text-normal;
}

.normal {
  @mixin typography text-big;
}

.big {
  @mixin typography subheading;
}

/* item-list */
.item {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
}

/* ellipsis */
.ellipsisItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--kbq-size-xxs);
}

.hidden {
  visibility: hidden;
  position: absolute;
  inset-inline-start: -300vw;
}

/* divider */
.divider {
  display: flex;
  user-select: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--kbq-states-foreground-disabled);
}
