.base[data-slot='scroll-button'] {
  --icon-button-size: 32px;

  opacity: 1;
  flex-shrink: 0;
  block-size: 100%;
  position: absolute;
  z-index: calc(var(--kbq-layer-absolute) + 2);

  &.prev {
    inset-inline-start: 0;
  }

  &.next {
    inset-inline-end: 0;
  }

  &.invisible {
    opacity: 0;
    visibility: hidden;
  }
}
