.base {
  --accordion-summary-block-size: 36px;
  --accordion-summary-color: var(--kbq-foreground-contrast);
  --accordion-summary-chevron-color: var(--kbq-icon-contrast-fade);

  margin: unset;
  min-block-size: var(--accordion-summary-block-size);

  & > * {
    cursor: pointer;
  }

  &:has(:disabled) > * {
    cursor: not-allowed;
  }
}

/* trigger */
.trigger {
  inline-size: 100%;
  border: none;
  font: inherit;
  display: flex;
  outline: none;
  background: none;
  gap: var(--kbq-size-xxs);
  padding: var(--kbq-size-s);
  color: var(--accordion-summary-color);
}

.hovered {
  --accordion-summary-chevron-color: var(--kbq-icon-contrast);
}

.disabled {
  --accordion-summary-color: var(--kbq-foreground-contrast-secondary);
  --accordion-summary-chevron-color: var(--kbq-states-icon-disabled);
}

/* chevron */
.chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: var(--kbq-size-xxl);
  inline-size: var(--kbq-size-xxl);
  color: var(--accordion-summary-chevron-color);
  transition: color var(--kbq-transition-default);
}
