.base {
  margin: unset;
  min-block-size: var(--accordion-summary-block-size);

  & > * {
    cursor: pointer;
  }

  & > button {
    border: none;
    font: inherit;
    display: flex;
    background: none;
    gap: var(--kbq-size-xxs);
    padding: var(--kbq-size-s);
  }

  &:has(:disabled) > * {
    cursor: not-allowed;
  }
}
