@import url('../../../styles/mixins.css');

.base {
  --field-input-color: var(--kbq-foreground-contrast);
  --field-input-bg-color: var(--kbq-background-bg);
  --field-input-placeholder-color: var(--kbq-foreground-contrast-tertiary);
  display: flex;
  gap: var(--kbq-size-s);
  cursor: pointer;
  border: none;
  outline: none;
  padding-block: 0;
  inline-size: 100%;
  align-items: center;
  box-sizing: border-box;
  border-radius: inherit;
  color: var(--field-input-color);
  background: var(--field-input-bg-color);
  min-block-size: var(--field-control-size-height);
  padding-inline: var(--field-input-padding-inline-start)
    var(--field-input-padding-inline-end);
  transition:
    color var(--kbq-transition-default),
    background-color var(--kbq-transition-default);

  @mixin typography text-normal;
}

.content {
  overflow: hidden;
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.invalid {
  --field-input-color: var(--kbq-foreground-error);
  --field-input-bg-color: var(--kbq-states-background-error-less);
  --field-input-placeholder-color: var(--kbq-foreground-error-tertiary);
}

.disabled {
  --field-input-color: var(--kbq-states-foreground-disabled);
  --field-input-bg-color: var(--kbq-states-background-disabled);
  cursor: not-allowed;
}

.hasPlaceholder {
  --field-input-color: var(--field-input-placeholder-color);
}
