@import url('../../../styles/mixins.css');

.base {
  --field-input-color: var(--kbq-foreground-contrast);
  --field-input-bg-color: var(--kbq-background-bg);
  --field-input-placeholder-color: var(--kbq-foreground-contrast-tertiary);
  display: flex;
  cursor: pointer;
  inline-size: 100%;
  align-items: center;
  box-sizing: border-box;
  block-size: var(--field-control-size-height);
  border-radius: inherit;
  color: var(--field-input-color);
  background: var(--field-input-bg-color);
  padding-block: var(--field-input-padding-block-start)
    var(--field-input-padding-block-end);
  padding-inline: var(--field-input-padding-inline-start)
    var(--field-input-padding-inline-end);
  transition:
    color var(--kbq-transition-default),
    background-color var(--kbq-transition-default);

  @mixin typography text-normal;
}

.transparent {
  --field-input-color: var(--kbq-foreground-contrast);
  --field-input-bg-color: transparent;
  --field-input-placeholder-color: var(--kbq-foreground-contrast-tertiary);
}

.filled {
  --field-input-color: var(--kbq-foreground-contrast);
  --field-input-bg-color: var(--kbq-background-bg);
  --field-input-placeholder-color: var(--kbq-foreground-contrast-tertiary);
}

.filled:where(.invalid) {
  --field-input-color: var(--kbq-foreground-error);
  --field-input-bg-color: var(--kbq-background-error-less);
  --field-input-placeholder-color: var(--kbq-foreground-error-tertiary);
}

.transparent:where(.invalid) {
  --field-input-color: var(--kbq-foreground-error);
  --field-input-bg-color: transparent;
  --field-input-placeholder-color: var(--kbq-foreground-error-tertiary);
}

.disabled {
  cursor: not-allowed;
}

.filled:where(.disabled) {
  --field-input-color: var(--kbq-states-foreground-disabled);
  --field-input-bg-color: var(--kbq-states-background-disabled);
}

.transparent:where(.disabled) {
  --field-input-color: var(--kbq-states-foreground-disabled);
}
