@import url('../../../styles/mixins.css');

.base {
  inline-size: 100%;

  @mixin typography text-compact;
  color: var(--kbq-foreground-error);
  margin: 0;
  margin-block-start: var(--kbq-size-xxs);
  transition: color var(--kbq-transition-default);
}
