@import url('../../styles/mixins.css');

.base {
  --toggle-track-block-size: 16px;
  --toggle-track-inline-size: 28px;
  --toggle-track-outline-color: var(--kbq-background-transparent);
  --toggle-track-outline-width: var(--kbq-size-3xs);
  --toggle-track-bg-color: var(--kbq-background-bg);
  --toggle-track-border-width: var(--kbq-size-border-width);
  --toggle-track-border-color: var(--kbq-line-contrast-less);
  --toggle-track-border-radius: var(--toggle-track-block-size);
  --toggle-knob-size: 10px;
  --toggle-knob-border-color: var(--kbq-background-transparent);
  --toggle-knob-border-width: var(--kbq-size-border-width);
  --toggle-knob-bg-color: var(--kbq-icon-contrast);
  --toggle-color: var(--kbq-foreground-contrast);

  color: var(--toggle-color);
  cursor: pointer;
  vertical-align: top;
  display: inline-flex;
  gap: var(--kbq-size-s);
  align-items: flex-start;
  position: relative;
}

.track {
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  outline-offset: -1px;
  border: var(--toggle-track-border-width) solid
    var(--toggle-track-border-color);
  block-size: var(--toggle-track-block-size);
  inline-size: var(--toggle-track-inline-size);
  background-color: var(--toggle-track-bg-color);
  margin-block: var(--toggle-track-margin-block);
  border-radius: var(--toggle-track-border-radius);
  outline: var(--toggle-track-outline-width) solid
    var(--toggle-track-outline-color);
  transition:
    border-color var(--kbq-transition-default),
    background-color var(--kbq-transition-default),
    outline-color var(--kbq-transition-default);

  /* knob */
  &::before {
    content: '';
    position: absolute;
    inset-block-start: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    block-size: var(--toggle-knob-size);
    inline-size: var(--toggle-knob-size);
    transform: translate3d(var(--kbq-size-3xs), -50%, 0);
    background: var(--toggle-knob-bg-color);
    border: var(--toggle-knob-border-width) solid
      var(--toggle-knob-border-color);
    transition:
      transform var(--kbq-transition-default),
      background-color var(--kbq-transition-default);
  }
}

/* labelPlacement */
.start {
  flex-direction: row-reverse;
}

.end {
  flex-direction: row;
}

/* size */
.normal {
  --toggle-track-margin-block: var(--kbq-size-3xs);

  @mixin typography text-normal;
}

.big {
  --toggle-track-margin-block: var(--kbq-size-xxs);

  @mixin typography text-big;
}

/* states */
.hovered {
  --toggle-track-bg-color: var(--kbq-states-background-transparent-hover);
  --toggle-track-border-color: var(--kbq-line-contrast-less);
}

.selected {
  --toggle-track-border-color: var(--kbq-background-transparent);
  --toggle-knob-bg-color: var(--kbq-icon-white);
  --toggle-track-bg-color: var(--kbq-background-theme);

  .track::before {
    transform: translate3d(
      calc(
        var(--toggle-track-inline-size) - var(--toggle-knob-size) -
          var(--kbq-size-3xs) - var(--toggle-track-border-width) * 2
      ),
      -50%,
      0
    );
  }
}

.selected:where(.hovered) {
  --toggle-track-bg-color: var(--kbq-states-background-theme-hover);
}

.invalid {
  --toggle-track-bg-color: var(--kbq-background-error-less);
  --toggle-track-border-color: var(--kbq-line-error);
  --toggle-knob-bg-color: var(--kbq-icon-error);
}

.invalid:where(.selected) {
  --toggle-track-bg-color: var(--kbq-background-error);
  --toggle-track-border-color: var(--kbq-background-transparent);
  --toggle-knob-bg-color: var(--kbq-icon-white);
}

.invalid:where(.hovered) {
  --toggle-track-bg-color: var(--kbq-states-background-error-fade-hover);
  --toggle-track-border-color: var(--kbq-line-error);
  --toggle-knob-bg-color: var(--kbq-icon-error);
}

.invalid:where(.hovered.selected) {
  --toggle-track-bg-color: var(--kbq-states-background-error-hover);
  --toggle-track-border-color: var(--kbq-background-transparent);
  --toggle-knob-bg-color: var(--kbq-icon-white);
}

.focusVisible {
  --toggle-track-border-color: var(--kbq-background-transparent);
  --toggle-track-outline-color: var(--kbq-states-line-focus-theme);
}

.focusVisible:where(.invalid) {
  --toggle-track-outline-color: var(--kbq-states-line-focus-error);
}

.readOnly {
  cursor: default;
}

.disabled {
  cursor: not-allowed;
}

.disabled:not(.selected) {
  --toggle-track-border-color: var(--kbq-states-line-disabled);
  --toggle-track-bg-color: var(--kbq-states-background-disabled);
  --toggle-knob-bg-color: var(--kbq-states-icon-disabled);
  --toggle-color: var(--kbq-states-foreground-disabled);
}

.disabled:where(.selected) {
  opacity: var(--kbq-opacity-disabled);
  display: flex;
}
