@import url('../../../styles/mixins.css');

.base {
  display: flex;
  inline-size: 100%;
  align-items: center;
  box-sizing: border-box;
  block-size: var(--form-field-control-size-height);
  color: var(--form-field-control-color);
  background: transparent;
  padding-block: var(--form-field-control-padding-block-start)
    var(--form-field-control-padding-block-end);
  padding-inline: 0;
  transition:
    color var(--kbq-transition-default),
    background-color var(--kbq-transition-default);

  @mixin typography text-normal;
  scrollbar-width: none;
  overflow-x: auto;
}

.base[aria-disabled='true'] {
  cursor: not-allowed;
}
