.base {
  --actions-panel-start-position: 100%;
  --actions-panel-background-color: var(--kbq-background-contrast);
  --actions-panel-color: var(--kbq-foreground-on-contrast);
  --actions-panel-padding: var(--kbq-size-s);
  --actions-panel-border-radius: var(--kbq-size-l);
  --actions-panel-box-shadow: var(--kbq-shadow-card);
  --actions-panel-height: var(--kbq-size-5xl);
  --actions-panel-vertical-divider-background-color: var(
    --kbq-line-contrast-fade
  );

  inline-size: 100%;
  position: absolute;
  display: flex;
  pointer-events: none;
  inset-block-end: var(--kbq-size-l);
  z-index: var(--kbq-layer-absolute);
}

/* animation */
.base[data-transition='entering'] {
  transform: translate(0, 0);
  opacity: 1;
  transition:
    transform var(--kbq-transition-slow),
    opacity var(--kbq-transition-slow);
}

.base[data-transition='entered'] {
  transform: translate(0, 0);
  opacity: 1;
}

.base[data-transition='exiting'] {
  transform: translate(0, var(--actions-panel-start-position));
  opacity: 0;
  transition:
    transform var(--kbq-transition-slow),
    opacity var(--kbq-transition-slow);
}

.base[data-transition='exited'] {
  transform: translate(0, var(--actions-panel-start-position));
  opacity: 0;
}

/* actions */
.actions {
  margin: auto;
  display: flex;
  align-items: center;
  pointer-events: auto;
  box-sizing: border-box;
  color: var(--actions-panel-color);
  padding: var(--actions-panel-padding);
  block-size: var(--actions-panel-height);
  box-shadow: var(--actions-panel-box-shadow);
  border-radius: var(--actions-panel-border-radius);
  background: var(--actions-panel-background-color);
}
