.base {
  --actions-panel-start-position: 100%;
  --actions-panel-background-color: var(--kbq-background-contrast);
  --actions-panel-text-color: var(--kbq-foreground-on-contrast);
  --actions-panel-padding: var(--kbq-size-s);
  --actions-panel-margin: var(--kbq-size-s) var(--kbq-size-s) var(--kbq-size-l);
  --actions-panel-border-radius: var(--kbq-size-l);
  --actions-panel-box-shadow: var(--kbq-shadow-card);
  --actions-panel-height: var(--kbq-size-5xl);
  --actions-panel-vertical-divider-background-color: var(
    --kbq-line-contrast-fade
  );
  --actions-panel-vertical-divider-height: var(--kbq-size-m);
  --actions-panel-vertical-divider-margin: 0 var(--kbq-size-s);

  display: flex;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  inset-block-end: 12px;
  opacity: 0;
  z-index: var(--kbq-layer-absolute);
  padding: var(--actions-panel-padding);
  color: var(--actions-panel-text-color);
  block-size: var(--actions-panel-height);
  box-shadow: var(--actions-panel-box-shadow);
  margin-inline-start: 50%;
  inline-size: max-content;
  transition:
    transform var(--kbq-transition-slow),
    opacity var(--kbq-transition-slow);
  border-radius: var(--actions-panel-border-radius);
  background: var(--actions-panel-background-color);
  transform: translate(-50%, var(--actions-panel-start-position));

  & > * {
    flex-shrink: 0;
  }
}

/* animation */
.base[data-transition='entering'] {
  transform: translate(-50%, 0);
  opacity: 1;
}

.base[data-transition='entered'] {
  transform: translate(-50%, 0);
  opacity: 1;
}

.base[data-transition='exiting'] {
  transform: translate(-50%, var(--actions-panel-start-position));
  opacity: 0;
}

.base[data-transition='exited'] .panel {
  transform: translate(-50%, var(--actions-panel-start-position));
  opacity: 0;
}

/* divider */
.divider {
  --kbq-divider-color: var(--kbq-line-contrast-fade);

  block-size: var(--kbq-size-m);
}
