.templates {
  margin: 25px 0 40px;
}

.s {
  flex-direction: row;
}

.template {
  display: flex;
  padding: 20px;
  block-size: 100%;
  position: relative;
  gap: var(--kbq-size-l);
  flex-direction: column;
  box-sizing: border-box;
  border-radius: var(--kbq-size-m);
  border: 1px solid var(--kbq-background-contrast-fade);
  transition: background-color var(--kbq-transition-slow);

  &:hover {
    background-color: var(--kbq-states-background-transparent-hover);
  }

  &:active {
    background-color: var(--kbq-states-background-transparent-active);
  }
}

.title {
  display: flex;
  gap: var(--kbq-size-m);
  align-items: center;
}

.link {
  inset: 0;
  position: absolute;

  &:focus-visible {
    border-radius: inherit;
    outline: 2px solid var(--kbq-states-line-focus-theme);
    outline-offset: -1px;
  }
}
