.base {
  inline-size: 100%;
  scrollbar-width: auto;
  scrollbar-gutter: auto;
  scrollbar-color: var(--kbq-scrollbar-thumb-default-background)
    var(--kbq-background-transparent);
}

.empty {
  color: var(--kbq-foreground-contrast-secondary);
  padding-block: var(--kbq-size-xs);
  padding-inline: var(--kbq-size-m);
}
