.base {
  input::-webkit-search-cancel-button {
    appearance: none;
  }

  input::-webkit-search-decoration {
    appearance: none;
  }
}

.startAddon {
  pointer-events: none;

  & > :not(.searchIcon) {
    pointer-events: all;
  }
}

.clearButton {
  margin-inline-end: calc(-1 * var(--kbq-size-xxs));
}
