.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  appearance: none;
}

.startAddon {
  pointer-events: none;

  & > :not(.searchIcon) {
    pointer-events: all;
  }
}

.clearButton {
  margin-inline-end: calc(-1 * var(--kbq-size-xxs));
}

.body {
  inline-size: 100%;
  min-inline-size: fit-content;
}

.body > :first-child + * {
  margin: 0;
  margin-block-start: var(--kbq-size-xs);
}

.body > :first-child + * + * {
  margin: 0;
  margin-block-start: var(--kbq-size-xxs);
}
