.base {
  --form-field-addon-color: var(--kbq-icon-contrast-fade);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--form-field-addon-color);
  block-size: var(--form-field-control-size-height);
  transition: color var(--kbq-transition-default);
}

.invalid {
  --form-field-addon-color: var(--kbq-icon-error);
}

.disabled {
  --form-field-addon-color: var(--kbq-states-icon-disabled);
}

.start {
  margin-inline-end: var(--kbq-size-xs);
}

.end {
  margin-inline-start: var(--kbq-size-xxs);
}
