.base {
  display: flex;
  flex-direction: column;
}

.trigger {
  margin: unset;

  & > * {
    cursor: pointer;
  }

  & > button {
    font: inherit;
    background: none;
    border: none;
    padding: 0;
  }
}

.panel {
  --disclosure-panel-duration: 300ms;

  overflow: hidden;
  opacity: 1;
  will-change: block-size;
  transition:
    block-size var(--kbq-transition-slow),
    opacity var(--kbq-transition-slow);
  transition-duration: var(--disclosure-panel-duration);

  & > p {
    margin: unset;
  }
}
