.base {
  inset: 0;
  display: flex;
  position: fixed;
  pointer-events: none;
  z-index: var(--kbq-layer-modal);
}

/* states */
.small {
  --side-panel-size: 400px;
}

.medium {
  --side-panel-size: 640px;
}

.large {
  --side-panel-size: 960px;
}

.left {
  --side-panel-start-position: -100%;
  justify-content: flex-start;
}

.right {
  --side-panel-start-position: 100%;
  justify-content: flex-end;
}

.start {
  --side-panel-start-position: -100%;
  justify-content: flex-start;
}

.end {
  --side-panel-start-position: 100%;
  justify-content: flex-end;
}

/* animation */
.base[data-transition='entering'] .panel {
  transform: translate(0, 0);
}

.base[data-transition='entered'] .panel {
  transform: translate(0, 0);
}

.base[data-transition='exiting'] .panel {
  transform: translate(var(--side-panel-start-position), 0);
}

.base[data-transition='exited'] .panel {
  transform: translate(var(--side-panel-start-position), 0);
}

/* panel */
.panel {
  --dialog-padding-inline-size: var(--kbq-size-3xl);
  display: flex;
  block-size: 100%;
  inline-size: 100%;
  position: absolute;
  pointer-events: auto;
  box-shadow: var(--kbq-shadow-overlay);
  max-inline-size: var(--side-panel-size);
  background-color: var(--kbq-background-bg);
  transition: transform var(--kbq-transition-slow);
  transform: translate(var(--side-panel-start-position), 0);
}
