.base {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invalid {
  color: var(--kbq-foreground-error);
}

.compact {
  margin-block-end: var(--kbq-size-m);
}

.normal {
  margin-block-end: var(--kbq-size-xl);
}

.big {
  margin-block-end: var(--kbq-size-3xl);
}
