.base {
  --date-input-segment-color: var(--form-field-control-color);
  color: var(--date-input-segment-color);

  &:focus {
    outline: none;
    color: HighlightText;
    background-color: Highlight;
  }
}

.placeholder {
  color: var(--form-field-control-placeholder-color);
}

.literal {
  white-space: pre;
}

.literal:not(.hasValue) {
  color: var(--form-field-control-placeholder-color);
}
