.base {
  --date-input-segment-color: var(--field-input-color);

  color: var(--date-input-segment-color);

  &:focus {
    outline: none;
    color: HighlightText;
    background-color: Highlight;
  }
}

.placeholder {
  color: var(--field-input-placeholder-color);
}

.literal:not(.hasValue) {
  color: var(--field-input-placeholder-color);
}
