.base {
  overflow: hidden;
  flex-wrap: nowrap;
  position: relative;
  display: inline-flex;
  border-radius: var(--kbq-size-s);
  background-color: var(--kbq-background-contrast-fade);
}

.fullWidth {
  inline-size: 100%;
}

.thumb {
  position: absolute;
  box-sizing: border-box;
  inset-block: var(--kbq-size-xxs);
  border-radius: var(--kbq-size-xxs);
  background-color: var(--kbq-background-card);
  transition:
    inline-size var(--kbq-transition-default),
    transform var(--kbq-transition-default);
}

.container {
  display: flex;
  inline-size: 100%;
}
