.base {
  order: -1;
}

.base[aria-hidden='true'] {
  visibility: hidden;
  position: absolute;
  inset-inline-start: -300vw;
}

/* text */
.text {
  padding-inline: var(--kbq-size-m);
  padding-block: var(--kbq-size-xs);
}

.counterValue {
  display: inline-block;
  min-inline-size: 2ch;
  text-align: start;
}

.divider {
  margin-inline-start: -4px;
}
