.base {
  order: -1;
}

.base[aria-hidden='true'] {
  visibility: hidden;
  position: absolute;
  inset-inline-start: -300vw;
}

/* text */
.text {
  padding-inline: var(--kbq-size-m);
  padding-block: var(--kbq-size-xs);
}
