.base {
  display: flex;
  align-items: center;
  min-inline-size: 0;
}

.base[data-placement='start'] {
  flex: 1 1 auto;
  gap: var(--kbq-topbar-container-start-gap, var(--topbar-container-start-gap));
  min-inline-size: var(
    --kbq-topbar-container-start-min-inline-size,
    var(--topbar-container-start-min-inline-size)
  );
  overflow: clip;
  overflow-clip-margin: var(--kbq-size-xxs);
}

.base[data-placement='end'] {
  flex: 0 0 auto;
  justify-content: flex-end;
  gap: var(--kbq-topbar-container-end-gap, var(--topbar-container-end-gap));
}

.base[data-placement='end']:first-child {
  margin-inline-start: auto;
}
