.body {
  flex: 1 1;
  display: flex;
  margin-block: 56px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--kbq-size-3xl);
}

.definition {
  width: 80%;
  text-align: center;
  max-width: 480px;
}
