.header {
  inline-size: 100vw;
  block-size: 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: var(--kbq-size-l);
}

.content {
  flex: 1 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--kbq-size-3xl);
}

.definition {
  text-align: center;
  inline-size: min(80%, 480px);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--kbq-size-m);
  position: fixed;
  inset-block-end: 0;
  inline-size: 100%;
  block-size: 64px;
}
