/* popover */
.popover {
  border-radius: var(--kbq-size-s);
  opacity: 0;
  transform: translateY(-8px);
}

.popover[data-transition='entering'] {
  opacity: 1;
  transform: translateY(0);
}

.popover[data-transition='entered'] {
  opacity: 1;
  transform: translateY(0);
}

.popover[data-transition='exiting'] {
  opacity: 0;
  transform: translateY(-8px);
}

.popover[data-transition='exited'] {
  opacity: 0;
  transform: translateY(-8px);
}

.popover:has(.list:only-child:empty) {
  opacity: 0;
}

/* list */
.list {
  inline-size: 100%;
}

.list:empty {
  display: none;
}

/* body */
.body {
  inline-size: 100%;
  min-inline-size: fit-content;
}

.body > :first-child + * {
  margin: 0;
  margin-block-start: var(--kbq-size-xs);
}

.body > :first-child + * + * {
  margin: 0;
  margin-block-start: var(--kbq-size-xxs);
}

.chevron {
  margin-inline-end: calc(-1 * var(--kbq-size-s));
}
