.base {
  --description-list-columns: repeat(4, 1fr);
  --description-list-description-column: 2 / -1;
  --description-list-content-gap: var(--kbq-size-l);

  display: grid;
  grid-template-columns: var(--description-list-columns);
  gap: var(--kbq-size-l) var(--description-list-content-gap);
  margin: 0;
}

.vertical {
  --description-list-description-column: 1;
  --description-list-content-gap: var(--kbq-size-3xs);

  grid-template-columns: minmax(0, 1fr);
  row-gap: calc(var(--kbq-size-3xs) + var(--kbq-size-m));
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.justifyCenter {
  justify-items: center;
}

.justifyEnd {
  justify-items: end;
}
