.base {
  --accordion-details-duration: 300ms;
  --accordion-details-padding: 0 var(--kbq-size-m) var(--kbq-size-s)
    var(--kbq-size-m);

  opacity: 1;
  overflow: hidden;
  will-change: block-size;
  transition:
    block-size var(--kbq-transition-slow),
    opacity var(--kbq-transition-slow);
  transition-duration: var(--accordion-details-duration);

  & > * {
    padding: var(--accordion-details-padding);
    margin: unset;
  }
}
