.base {
  --content-panel-duration: 300ms;
  --content-panel-start-position: 100%;
  --content-panel-resizer-width: var(--kbq-size-l);

  overflow: unset;
  block-size: 100%;
  border-radius: var(--kbq-size-l);
  background-color: var(--kbq-background-card);
  border: 1px solid var(--kbq-line-contrast-less);
  transition:
    transform var(--kbq-transition-slow),
    inline-size var(--kbq-transition-slow);
  transition-duration: var(--content-panel-duration);
}

body[data-resizing='true'] .base {
  transition: none;
}

/* animation */
.base[data-transition='entering'] {
  transform: translate(0, 0);
}

.base[data-transition='entered'] {
  transform: translate(0, 0);
}

.base[data-transition='exiting'] {
  transform: translate(var(--content-panel-start-position), 0);
}

.base[data-transition='exited'] {
  transform: translate(var(--content-panel-start-position), 0);
}

/* resizer */
.resizer {
  block-size: 100%;
  cursor: ew-resize;
  position: absolute;
  inset-block-start: 0;
  inline-size: var(--content-panel-resizer-width);
  inset-inline-start: calc(var(--content-panel-resizer-width) / -2);
}
