.base {
  display: flex;
  overflow: hidden;
  position: relative;
}

.body {
  --content-panel-inline-size: ;

  transition: inline-size var(--kbq-transition-default);
  inline-size: calc(100% - var(--content-panel-inline-size) - 16px);
}
