.base {
  position: relative;
  display: flex;
  overflow: hidden;
}

.body {
  --content-panel-inline-size: ;

  z-index: 1;
  inline-size: calc(100% - var(--content-panel-inline-size) - 16px);
  transition: inline-size var(--kbq-transition-slow);
}
