.base {
  position: relative;
  display: flex;
  overflow: hidden;
}

.body {
  --content-panel-inline-size: ;

  inline-size: calc(100% - var(--content-panel-inline-size));
  transition: inline-size var(--kbq-transition-slow);
}
