.base {
  position: relative;
  display: flex;
  overflow: hidden;
}

.body {
  --content-panel-offset-inline: ;

  margin-inline-end: var(--content-panel-offset-inline);
  transition: margin-inline-end var(--kbq-transition-slow);
}
