.base {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: var(--kbq-size-s);
  color: var(--kbq-foreground-contrast-secondary);
}

.addMore {
  margin: calc(var(--kbq-size-border-width) * -1);
  padding-block: var(--kbq-size-m);
  padding-inline: var(--kbq-size-l);
  border-block-start: var(--kbq-size-border-width) dashed
    var(--kbq-line-contrast-fade);
}

.addMore[data-drop-target] {
  border-block-start-color: var(--kbq-line-theme-fade);
}

.addMore[data-disabled] {
  border-block-start-color: var(--kbq-states-line-disabled);
}

.icon {
  display: flex;
  align-items: center;
  color: var(--kbq-icon-contrast-fade);
}

.text {
  color: var(--kbq-foreground-contrast-secondary);
}

.base[data-disabled] .icon {
  color: var(--kbq-states-icon-disabled);
}

.base[data-disabled] .text {
  color: var(--kbq-states-foreground-disabled);
}
