.base {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}

.fullWidth {
  inline-size: 100%;
}

/* label-placement */
.top {
  flex-direction: column;
}

.side {
  flex-direction: row;
}
