.base {
  outline: none;
  cursor: default;
  padding-block: 0;
  position: relative;
  box-sizing: border-box;
  color: var(--table-header-cell-color);
  border-block-end: var(--table-border);
  padding-inline: var(--table-header-cell-padding-inline);
  text-align: start;
}

/* align */
.start,
.left {
  --table-column-align: start;
  text-align: start;
}

.center {
  --table-column-align: center;
  text-align: center;
}

.end,
.right {
  --table-column-align: end;
  text-align: end;
}

/* valign */
.top {
  vertical-align: top;
}

.baseline {
  vertical-align: baseline;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.sub {
  vertical-align: sub;
}

.text-top {
  vertical-align: text-top;
}

/* focus-visible */
.focusVisible {
  outline-offset: -2px;
  outline: 2px solid var(--kbq-states-line-focus-theme);
}

/* sortable */
.sortable {
  cursor: pointer;
}

/* container */
.container {
  display: flex;
  gap: var(--kbq-size-s);
  padding-block: var(--table-header-cell-padding-block);
  justify-content: var(--table-column-align);
}

.container:has(.content) {
  margin-left: -8px;
}

.container:has(.content:focus-visible) {
  outline-offset: -2px;
  outline: 2px solid var(--kbq-states-line-focus-theme);
}

/* content */
.content {
  all: unset;
  overflow: hidden;
  padding-left: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* sort-icon */
.sortIcon {
  display: flex;
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  &::after {
    font-size: 0;
    content: '\00a0';
  }

  & > * {
    margin: auto;
  }
}
