.base {
  outline: none;
  cursor: default;
  box-sizing: border-box;
  color: var(--table-header-cell-color);
  border-block-end: var(--table-border);
  padding: var(--table-header-cell-padding);
}

.top {
  vertical-align: top;
}

.baseline {
  vertical-align: baseline;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.sub {
  vertical-align: sub;
}

.text-top {
  vertical-align: text-top;
}

.focusVisible {
  outline-offset: -2px;
  outline: 2px solid var(--kbq-states-line-focus-theme);
}

.sortable {
  cursor: pointer;
}

.content {
  display: flex;
  gap: var(--kbq-size-s);
}

.sortIcon {
  block-size: 20px;
  display: flex;

  & > * {
    margin: auto;
  }
}
