@import url('../../../styles/mixins.css');

.base {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  inline-size: 100%;
  box-sizing: border-box;
  border-radius: inherit;
  flex-direction: column;
  color: var(--form-field-control-color);
  background: transparent;
  min-inline-size: 0;
  min-block-size: var(--form-field-control-size-height);
  padding-inline: 0;
  transition:
    color var(--kbq-transition-default),
    background-color var(--kbq-transition-default);

  @mixin typography text-normal;
}

.container {
  display: flex;
  block-size: 100%;
  align-items: center;
  gap: var(--kbq-size-xs);
}

.content {
  padding-block: var(--kbq-size-xs);

  @mixin ellipsis;
}

.base[aria-disabled='true'] {
  cursor: not-allowed;
}

.hasPlaceholder {
  --form-field-control-color: var(--form-field-control-placeholder-color);
}

.hiddenPlaceholder {
  block-size: 0;
  text-align: start;
  visibility: hidden;

  @mixin ellipsis;
}
