.split-button-demo {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: var(--kbq-size-3xl) var(--kbq-size-6xl);
}

.split-button-demo__header {
  margin-block-end: var(--kbq-size-xs);
  color: var(--kbq-foreground-contrast-secondary);
}
