.base {
  --field-size-height: 32px;
  --field-input-padding-inline-start: var(--kbq-size-m);
  --field-input-padding-inline-end: var(--kbq-size-m);
  --field-input-padding-block-start: var(--kbq-size-xs);
  --field-input-padding-block-end: var(--kbq-size-xs);
  inline-size: inherit;
}

.base > :first-child + * {
  margin: 0;
  margin-block-start: var(--kbq-size-xs);
}

.base > :first-child + * + * {
  margin: 0;
  margin-block-start: var(--kbq-size-xxs);
}
