.base {
  --field-size-height: 32px;
  --field-input-padding-inline-start: var(--kbq-size-m);
  --field-input-padding-inline-end: var(--kbq-size-m);
  --field-input-padding-block-start: var(--kbq-size-xs);
  --field-input-padding-block-end: var(--kbq-size-xs);

  inline-size: 100%;
}
