.base {
  outline: none;
  display: flex;
  position: fixed;
  padding: var(--kbq-size-l);
  flex-direction: column-reverse;
  z-index: var(--kbq-layer-toast);
}

.bottom {
  inset-block-end: 0;
  inset-inline-start: 50%;
  transform: translate(-50%);
}

.bottom-start {
  inset-inline-start: 0;
  inset-block-end: 0;
}

.bottom-end {
  inset-inline-end: 0;
  inset-block-end: 0;
}

.top {
  inset-block-start: 0;
  inset-inline-start: 50%;
  transform: translate(-50%);
}

.top-start {
  inset-block-start: 0;
  inset-inline-start: 0;
}

.top-end {
  inset-block-start: 0;
  inset-inline-end: 0;
}
