.base {
  display: flex;
  position: fixed;
  flex-direction: column-reverse;
  z-index: var(--kbq-layer-toast);
  border-radius: var(--kbq-size-s);

  &:focus-visible {
    outline: var(--kbq-size-3xs) solid var(--kbq-states-line-focus-theme);
  }
}

.bottom {
  inset-block-end: var(--kbq-size-l);
  inset-inline-start: 50%;
  transform: translate(-50%);
}

.bottom-start {
  inset-inline-start: var(--kbq-size-l);
  inset-block-end: var(--kbq-size-l);
}

.bottom-end {
  inset-inline-end: var(--kbq-size-l);
  inset-block-end: var(--kbq-size-l);
}

.top {
  inset-block-start: var(--kbq-size-l);
  inset-inline-start: 50%;
  transform: translate(-50%);
}

.top-start {
  inset-block-start: var(--kbq-size-l);
  inset-inline-start: var(--kbq-size-l);
}

.top-end {
  inset-block-start: var(--kbq-size-l);
  inset-inline-end: var(--kbq-size-l);
}
