.base {
  outline: none;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  flex-direction: column-reverse;
  z-index: var(--kbq-layer-toast);
  inset-inline-end: var(--kbq-size-l);
  inset-block-start: var(--kbq-size-l);
}
