.base,
.fieldset {
  --gap-y: var(--kbq-size-xl);
  --template-columns: max-content 1fr;
  display: grid;

  & > [data-slot='form-control'] {
    width: 100%;
  }

  & > [data-slot='form-control']:not(:last-child) {
    margin-block-end: var(--gap-y);
  }

  & > * {
    grid-column: 1 / -1;
    justify-self: start;
  }
}

.fieldset {
  padding: 0;
  border: 0;
  margin: 0;

  .legend {
    margin-block-end: var(--kbq-size-l);
  }
}

/* orientation */
.horizontal,
.horizontal .fieldset {
  grid-template-columns: var(--template-columns);

  & > [data-slot='form-control'] {
    display: grid;
    align-items: center;
    grid-template-columns: subgrid;

    & > *:first-child {
      grid-column: 1;
      align-self: start;
    }

    & > *:last-child {
      grid-column: 2;
      justify-self: start;
    }
  }
}
