.base {
  outline: none;
  cursor: default;
  transition: background-color var(--kbq-transition-default);
}

.base:last-child td {
  border-block-end: 0 solid;
}

.hovered {
  background-color: var(--kbq-states-background-transparent-hover);
}

.focusVisible {
  box-shadow: inset 0 0 0 2px orange;
}
