.base {
  padding-block: 0;
  padding-inline: 23px;

  .media {
    margin-block-end: var(--kbq-size-m);
    color: var(--file-upload-upload-icon-color, var(--kbq-icon-contrast));
  }

  .title {
    margin-block-end: var(--kbq-size-xs);
    color: var(--file-upload-text-color, var(--kbq-foreground-contrast));
  }

  .content {
    color: var(--file-upload-text-color, var(--kbq-foreground-contrast));
  }
}
