.base {
  display: flex;
  inline-size: 100%;
  flex-direction: column;
}

/* search-input */
.search {
  padding-block: var(--kbq-size-xxs);
  padding-inline: var(--kbq-size-3xs);
  box-sizing: border-box;
}
