.base {
  --backdrop-z-index: -1;
  --backdrop-duration: ;
  inset: 0;
  opacity: 0;
  z-index: var(--backdrop-z-index);
  display: flex;
  position: fixed;
  align-items: center;
  pointer-events: auto;
  justify-content: center;
  background-color: var(--kbq-background-overlay);
  transition: opacity var(--backdrop-duration) ease-in-out;
}

.base[data-transition='entering'] {
  opacity: 1;
}

.base[data-transition='entered'] {
  opacity: 1;
}

.base[data-transition='exiting'] {
  opacity: 0;
}

.base[data-transition='exited'] {
  opacity: 0;
}
