.calendar {
  margin-inline-end: calc(-1 * var(--kbq-size-xxs));
}

/* popover */
.popover[data-slot='dropdown'] {
  border-radius: var(--kbq-size-s);
  opacity: 0;
  transform: translateY(-8px);

  &[data-transition='entering'] {
    opacity: 1;
    transform: translateY(0);
  }

  &[data-transition='entered'] {
    opacity: 1;
    transform: translateY(0);
  }

  &[data-transition='exiting'] {
    opacity: 0;
    transform: translateY(-8px);
  }

  &[data-transition='exited'] {
    opacity: 0;
    transform: translateY(-8px);
  }
}
