@import url('../../styles/mixins.css');

.base {
  --checkbox-bg-color: var(--kbq-background-bg);
  --checkbox-outline-width: var(--kbq-size-3xs);
  --checkbox-color: var(--kbq-foreground-contrast);
  --checkbox-border-color: var(--kbq-line-contrast-fade);
  --checkbox-outline-color: transparent;
  --checkbox-icon-color: transparent;

  cursor: pointer;
  vertical-align: top;
  display: inline-flex;
  gap: var(--kbq-size-s);
  color: var(--checkbox-color);
  align-items: flex-start;
  position: relative;
}

.checkbox {
  transition:
    background-color var(--kbq-transition-default),
    border var(--kbq-transition-default),
    outline-color var(--kbq-transition-default),
    color var(--kbq-transition-default);
  display: flex;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  color: var(--checkbox-icon-color);
  inline-size: var(--checkbox-size);
  block-size: var(--checkbox-size);
  margin-block: var(--checkbox-margin-block);
  border-radius: var(--checkbox-border-radius);
  border: var(--checkbox-border-width) solid var(--checkbox-border-color);
  background-color: var(--checkbox-bg-color);
  outline-offset: calc(-1 * var(--checkbox-outline-width) / 2);
  outline: var(--checkbox-outline-width) solid var(--checkbox-outline-color);
}

.normal {
  --checkbox-size: var(--kbq-size-l);
  --checkbox-margin-block: var(--kbq-size-3xs);
  --checkbox-border-radius: var(--kbq-size-xxs);
  --checkbox-border-width: var(--kbq-size-border-width);

  @mixin typography text-normal;
}

.big {
  --checkbox-size: var(--kbq-size-l);
  --checkbox-margin-block: var(--kbq-size-xxs);
  --checkbox-border-radius: var(--kbq-size-xxs);
  --checkbox-border-width: var(--kbq-size-border-width);

  @mixin typography text-big;
}

.hovered {
  --checkbox-bg-color: var(--kbq-states-background-transparent-hover);
  --checkbox-border-color: var(--kbq-line-contrast-fade);
}

.selected {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-bg-color: var(--kbq-background-theme);
  --checkbox-border-color: var(--kbq-background-theme);
}

.selected:where(.hovered) {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-bg-color: var(--kbq-states-background-theme-hover);
  --checkbox-border-color: var(--kbq-states-background-theme-hover);
}

.invalid {
  --checkbox-border-color: var(--kbq-line-error);
  --checkbox-bg-color: var(--kbq-background-error-less);
}

.invalid:where(.hovered) {
  --checkbox-border-color: var(--kbq-line-error);
  --checkbox-bg-color: var(--kbq-states-background-error-fade-hover);
}

.invalid:where(.selected) {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-border-color: var(--kbq-background-error);
  --checkbox-bg-color: var(--kbq-background-error);
}

.invalid:where(.selected.hovered) {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-border-color: var(--kbq-states-background-error-hover);
  --checkbox-bg-color: var(--kbq-states-background-error-hover);
}

.focusVisible {
  --checkbox-border-color: transparent;
  --checkbox-outline-color: var(--kbq-states-line-focus-theme);
}

.focusVisible:where(.invalid) {
  --checkbox-border-color: transparent;
  --checkbox-outline-color: var(--kbq-states-line-focus-error);
}

.indeterminate {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-bg-color: var(--kbq-background-theme);
  --checkbox-border-color: var(--kbq-background-theme);
}

.indeterminate:where(.hovered) {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-bg-color: var(--kbq-states-background-theme-hover);
  --checkbox-border-color: var(--kbq-states-background-theme-hover);
}

.readOnly {
  cursor: default;
}

.disabled {
  --checkbox-bg-color: var(--kbq-states-background-disabled);
  --checkbox-border-color: var(--kbq-states-line-disabled);
  --checkbox-color: var(--kbq-states-foreground-disabled);

  cursor: not-allowed;
}

.selected:where(.disabled) {
  --checkbox-icon-color: var(--kbq-states-icon-disabled);
}

/* labelPlacement */
.start {
  flex-direction: row-reverse;
}

.end {
  flex-direction: row;
}
