@import url('../../styles/mixins.css');

.base {
  --checkbox-border-color: var(--kbq-line-contrast-fade);
  --checkbox-bg-color: var(--kbq-background-bg);
  --checkbox-outline-width: var(--kbq-size-3xs);
  --checkbox-text-color: var(--kbq-foreground-contrast);
  --checkbox-caption-color: var(--kbq-foreground-contrast-secondary);
  --checkbox-outline-color: transparent;
  --checkbox-icon-color: transparent;
  cursor: pointer;
  vertical-align: top;
  display: inline-flex;
  gap: var(--kbq-size-s);
  align-items: flex-start;
}

.checkbox {
  transition:
    background-color var(--kbq-transition-default),
    border var(--kbq-transition-default),
    outline-color var(--kbq-transition-default),
    color var(--kbq-transition-default);
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  color: var(--checkbox-icon-color);
  inline-size: var(--checkbox-size);
  block-size: var(--checkbox-size);
  margin-block: var(--checkbox-switcher-margin-block);
  border-radius: var(--checkbox-border-radius);
  border: var(--checkbox-border-width) solid var(--checkbox-border-color);
  background-color: var(--checkbox-bg-color);
  outline-offset: calc(-1 * var(--checkbox-outline-width) / 2);
  outline: var(--checkbox-outline-width) solid var(--checkbox-outline-color);

  & > * {
    flex-shrink: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;

  &:empty {
    display: none;
  }
}

.text {
  color: var(--checkbox-text-color);
}

.caption {
  color: var(--checkbox-caption-color);
}

.normal {
  --checkbox-size: var(--kbq-size-l);
  --checkbox-border-radius: var(--kbq-size-xxs);
  --checkbox-border-width: var(--kbq-size-border-width);
  --checkbox-switcher-margin-block: var(--kbq-size-3xs);

  :where(.text) {
    @mixin typography text-normal;
  }

  :where(.caption) {
    @mixin typography text-compact;
  }
}

.big {
  --checkbox-size: var(--kbq-size-l);
  --checkbox-border-radius: var(--kbq-size-xxs);
  --checkbox-border-width: var(--kbq-size-border-width);
  --checkbox-switcher-margin-block: var(--kbq-size-xxs);

  :where(.text) {
    @mixin typography text-big;
  }

  :where(.caption) {
    @mixin typography text-normal;
  }
}

.hovered {
  --checkbox-bg-color: var(--kbq-states-background-transparent-hover);
  --checkbox-border-color: var(--kbq-line-contrast-fade);
}

.checked {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-bg-color: var(--kbq-background-theme);
  --checkbox-border-color: var(--kbq-background-theme);
}

.checked:where(.hovered) {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-bg-color: var(--kbq-states-background-theme-hover);
  --checkbox-border-color: var(--kbq-states-background-theme-hover);
}

.error {
  --checkbox-border-color: var(--kbq-line-error);
}

.error:where(.hovered) {
  --checkbox-border-color: var(--kbq-line-error);
  --checkbox-bg-color: var(--kbq-states-background-error-fade-hover);
}

.error:where(.checked) {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-border-color: var(--kbq-background-error);
  --checkbox-bg-color: var(--kbq-background-error);
}

.error:where(.checked.hovered) {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-border-color: var(--kbq-states-background-error-hover);
  --checkbox-bg-color: var(--kbq-states-background-error-hover);
}

.focusVisible {
  --checkbox-border-color: transparent;
  --checkbox-outline-color: var(--kbq-states-line-focus-theme);
}

.error:where(.focusVisible) {
  --checkbox-border-color: transparent;
  --checkbox-outline-color: var(--kbq-states-line-focus-error);
}

.indeterminate {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-bg-color: var(--kbq-background-theme);
  --checkbox-border-color: var(--kbq-background-theme);
}

.indeterminate:where(.hovered) {
  --checkbox-icon-color: var(--kbq-white-default);
  --checkbox-bg-color: var(--kbq-states-background-theme-hover);
  --checkbox-border-color: var(--kbq-states-background-theme-hover);
}

.disabled {
  --checkbox-bg-color: var(--kbq-states-background-disabled);
  --checkbox-border-color: var(--kbq-states-line-disabled);
  --checkbox-text-color: var(--kbq-states-foreground-disabled);
  --checkbox-caption-color: var(--kbq-states-foreground-disabled);
  cursor: not-allowed;
}

.checked:where(.disabled) {
  --checkbox-icon-color: var(--kbq-states-icon-disabled);
}
