.base {
  --tooltip-bg-color: ;
  --tooltip-color: ;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  max-inline-size: 300px;
  min-inline-size: 48px;
  min-block-size: 36px;
  color: var(--tooltip-color);
  z-index: var(--kbq-layer-modal);
  border-radius: var(--kbq-size-s);
  background-color: var(--tooltip-bg-color);
  transition:
    opacity var(--kbq-transition-slow),
    transform var(--kbq-transition-slow);
}

.base[data-placement='top'] {
  --popover-transform: translateY(-10px);
}

.base[data-placement='bottom'] {
  --popover-transform: translateY(10px);
}

.base[data-placement='left'] {
  --popover-transform: translateX(-10px);
}

.base[data-placement='right'] {
  --popover-transform: translateX(10px);
}

.base[data-placement='top'][data-arrow='true'] {
  margin-block-end: 10px;
}

.base[data-placement='bottom'][data-arrow='true'] {
  margin-block-start: 10px;
}

.base[data-placement='left'][data-arrow='true'] {
  margin-inline-end: 10px;
}

.base[data-placement='right'][data-arrow='true'] {
  margin-inline-start: 10px;
}

.container {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  max-block-size: 100%;
  border-radius: inherit;
  flex-direction: column;
  background-color: inherit;
}

.content {
  overflow: auto;
  box-sizing: border-box;
  padding: var(--kbq-size-s) var(--kbq-size-m);
}

/* variant */
.contrast {
  --tooltip-color: var(--kbq-foreground-white);
  --tooltip-bg-color: var(--kbq-background-night);
}

.contrast-fade {
  --tooltip-color: var(--kbq-foreground-contrast);
  --tooltip-bg-color: var(--kbq-background-card);
  box-shadow: var(--kbq-shadow-overlay);
}

.error {
  --tooltip-color: var(--kbq-foreground-white);
  --tooltip-bg-color: var(--kbq-background-error);
}

.warning {
  --tooltip-color: var(--kbq-foreground-white);
  --tooltip-bg-color: var(--kbq-background-warning);
}

.theme {
  --tooltip-color: var(--kbq-foreground-white);
  --tooltip-bg-color: var(--kbq-background-theme);
}

/* arrow */
.arrow {
  z-index: -1;
  block-size: 12px;
  inline-size: 12px;
  position: absolute;
  box-shadow: inherit;
  background-color: inherit;
}

.arrow[data-placement='top'] {
  inset-block-end: -5px;
  transform: translate(-50%) rotate(45deg);
}

.arrow[data-placement='bottom'] {
  inset-block-start: -5px;
  transform: translate(-50%) rotate(45deg);
}

.arrow[data-placement='left'] {
  inset-inline-end: -5px;
  transform: translateY(-50%) rotate(45deg);
}

.arrow[data-placement='right'] {
  inset-inline-start: -5px;
  transform: translateY(-50%) rotate(45deg);
}

/* transition */
.base[data-transition='entering'] {
  opacity: 1;
  transform: translate(0);
}

.base[data-transition='entered'] {
  opacity: 1;
  transform: translate(0);
}

.base[data-transition='exiting'] {
  opacity: 0;
  transform: var(--popover-transform);
}

.base[data-transition='exited'] {
  opacity: 0;
  transform: var(--popover-transform);
}
