.base {
  --skeleton-inline-size: ;
  --skeleton-block-size: ;
  --skeleton-loader-width: 100px;
  --skeleton-bg-color: var(--kbq-skeleton-background);
  --skeleton-wave-color: var(--kbq-skeleton-animation-wave-center);
  --skeleton-border-radius: var(--kbq-size-xxs);
  display: flex;
  visibility: initial;
  border-radius: var(--skeleton-border-radius);
  background-color: var(--skeleton-bg-color);
  background-image: linear-gradient(
    to right,
    var(--kbq-skeleton-animation-wave-start) 0%,
    var(--skeleton-wave-color) calc(var(--skeleton-loader-width) / 2),
    var(--kbq-skeleton-animation-wave-end) var(--skeleton-loader-width)
  );
  animation: skeleton-wave 1.5s linear infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  inline-size: var(--skeleton-inline-size);
  block-size: var(--skeleton-block-size);

  @media (min-width: 768px) {
    animation-duration: 2s;
  }

  @media (min-width: 1280px) {
    animation-duration: 2.5s;
  }
}

.hasChildren {
  max-inline-size: fit-content;

  & > * {
    visibility: hidden;
  }
}

@keyframes skeleton-wave {
  0% {
    background-position: calc(-1 * var(--skeleton-loader-width)) 0%;
  }

  100% {
    background-position: 100vw 0;
  }
}
