.base {
  --field-input-padding-inline-start: var(--kbq-size-m);
  --field-input-padding-inline-end: var(--kbq-size-m);
  --field-input-padding-block-start: var(--kbq-size-xs);
  --field-input-padding-block-end: var(--kbq-size-xs);
  display: inline-flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.fullWidth {
  inline-size: 100%;
}
