.base {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: var(--kbq-size-xxs);
  padding-block: var(--kbq-size-xxs);
  inline-size: calc(100% + var(--kbq-size-s));
  margin-inline-start: calc(-1 * var(--kbq-size-s));
}

.base[data-limit-tags='responsive'] {
  gap: unset;
  flex-wrap: nowrap;

  .tag:not(:last-child) {
    margin-inline-end: var(--kbq-size-xxs);
  }
}

.more {
  white-space: nowrap;
  padding: var(--kbq-size-3xs) var(--kbq-size-xs) var(--kbq-size-3xs) 0;
}
