@import url('../../styles/mixins.css');

.base {
  --form-control-label-color: var(--kbq-foreground-contrast);
  --form-control-label-caption-color: var(--kbq-foreground-contrast-secondary);
  cursor: pointer;
  vertical-align: top;
  display: inline-flex;
  gap: var(--kbq-size-s);
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;

  &:empty {
    display: none;
  }
}

.label {
  color: var(--form-control-label-color);
}

.caption {
  color: var(--form-control-label-caption-color);
}

.normal {
  :where(.label) {
    @mixin typography text-normal;
  }

  :where(.caption) {
    @mixin typography text-compact;
  }
}

.big {
  :where(.label) {
    @mixin typography text-big;
  }

  :where(.caption) {
    @mixin typography text-normal;
  }
}

/* labelPlacement */
.start {
  flex-direction: row-reverse;
}

.end {
  flex-direction: row;
}

.disabled {
  --form-control-label-color: var(--kbq-states-foreground-disabled);
  --form-control-label-caption-color: var(--kbq-states-foreground-disabled);
  cursor: not-allowed;
}
