@import url('../../../../styles/mixins.css');

.empty {
  color: var(--file-upload-caption-color);
}

.large {
  padding-block: 0;
  padding-inline: var(--kbq-size-xxl);

  .icon {
    margin-block-end: var(--kbq-size-m);
    color: var(--file-upload-upload-icon-color);
  }

  .title {
    margin-block-end: var(--kbq-size-xs);
    color: var(--file-upload-text-color);
  }

  .description {
    color: var(--file-upload-text-color);
  }
}

.compact {
  display: flex;
  min-inline-size: 0;
  align-items: center;
  box-sizing: border-box;
  gap: var(--file-upload-grid-cell-gap);
  color: var(--file-upload-caption-color);
}

.compact .icon {
  flex: none;
  display: flex;
  align-items: center;
  color: var(--file-upload-dropzone-icon-color);
}

.compact .title {
  @mixin ellipsis;

  min-inline-size: 0;
  color: var(--file-upload-caption-color);
}

.compact .description {
  @mixin ellipsis;

  min-inline-size: 0;
  color: var(--file-upload-caption-color);
}
