@import url('../../../../styles/mixins.css');

.base {
  --item-outline-color: transparent;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-inline-size: 0;
  gap: var(--file-upload-grid-cell-gap, var(--kbq-size-s));
  min-block-size: 40px;
  color: var(--file-upload-text-color, var(--kbq-foreground-contrast));
  border-radius: var(--kbq-size-xs);
  padding-inline: var(--kbq-size-m) 0;
  box-shadow: inset 0 0 0 1px var(--item-outline-color);
  transition:
    background-color var(--kbq-transition-default),
    box-shadow var(--kbq-transition-default);
}

.base:not([data-multiple]) {
  min-block-size: var(--file-upload-single-min-block-size, 44px);
  padding-inline-start: calc(
    var(--file-upload-single-padding-inline, var(--kbq-size-l)) -
      var(--file-upload-border-width, var(--kbq-size-border-width))
  );
}

.base[data-multiple][data-hovered] {
  background-color: var(--kbq-states-background-contrast-fade-hover);
}

.base[data-multiple][data-focus-visible] {
  --item-outline-color: var(--kbq-states-line-focus-theme);
}

.base[data-invalid] {
  color: var(--kbq-foreground-error);
}

.base[data-invalid][data-multiple][data-hovered] {
  background-color: var(--kbq-states-background-error-less-hover);
}

.base[data-invalid][data-multiple][data-focus-visible] {
  --item-outline-color: var(--kbq-states-line-focus-error);
}

.base[data-disabled] {
  color: var(--kbq-states-foreground-disabled);
}

.icon {
  display: flex;
  flex: none;
  align-items: center;
  color: var(--file-upload-left-icon-color, var(--kbq-icon-contrast-fade));
}

.base[data-invalid] .icon {
  color: var(--kbq-icon-error);
}

.base[data-disabled] .icon {
  color: var(--kbq-states-icon-disabled);
}

.content {
  display: flex;
  flex: 1 1 auto;
  min-inline-size: 0;
  align-items: center;
  gap: var(--kbq-size-s);
}

.name {
  @mixin ellipsis;

  flex: 1 1 auto;
  min-inline-size: 0;
}

.size {
  flex: none;
  inline-size: var(--file-upload-file-size-inline-size, var(--kbq-size-7xl));
  text-align: start;
  white-space: nowrap;
  color: var(
    --file-upload-file-size-color,
    var(--kbq-foreground-contrast-secondary)
  );
}

.remove {
  flex: none;
  inline-size: 40px;
  block-size: 40px;
  padding: 12px;
}
