.base {
  display: flex;
  overflow: hidden;
  position: relative;
}

.body {
  --content-panel-inline-size: ;

  transition: inline-size var(--kbq-transition-default);
  inline-size: calc(100% - var(--content-panel-inline-size) - 16px);
}

.panel {
  inline-size: 400px;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  z-index: var(--kbq-layer-absolute);
}
