.base {
  display: flex;
  outline: none;
  overflow: hidden;
  position: relative;
}

/* body */
.body {
  --content-panel-inline-size: ;

  overflow: auto;
  will-change: inline-size;
  transition: inline-size var(--kbq-transition-slow);
  inline-size: calc(100% - var(--content-panel-inline-size));
}

.open {
  transition: none;
}

/* panel */
.panel {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  inline-size: 50%;
  max-inline-size: 100%;
  z-index: var(--kbq-layer-absolute);
}
