.base {
  display: flex;
  gap: var(--kbq-size-3xs);
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding-block: var(--kbq-size-m);
  block-size: 294px;

  td,
  th {
    padding: 0;
  }
}

/* table */
.table {
  padding-inline: var(--kbq-size-m);
  border-collapse: separate;
  border-spacing: 0 var(--kbq-size-3xs);
}

.header {
  display: flex;
  align-items: center;
  inline-size: 100%;
  box-sizing: border-box;
  padding-inline: var(--kbq-size-xxs);
}

.actions {
  margin-inline-start: auto;
}

.divider {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset-block-start: 0;
    inset-inline: calc(-1 * var(--kbq-size-m));
    block-size: 1px;
    background-color: var(--kbq-line-contrast-less);
  }
}

/* button */
.open {
  background-color: var(--button-bg-color-active);
}

/* cell */
.cell {
  inline-size: 40px;
  block-size: 32px;
  --table-cell-outline-color: transparent;
  --table-cell-outline-width: var(--kbq-size-3xs);
  outline: var(--table-cell-outline-width) solid var(--table-cell-outline-color);
  outline-offset: -2px;
  transition:
    outline-color var(--kbq-transition-default),
    background-color var(--kbq-transition-default),
    color var(--kbq-transition-default);
}

.cell:where(:not([hidden])) {
  color: var(--kbq-foreground-contrast);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: var(--kbq-size-s);
}

.today {
  color: var(--kbq-foreground-theme);
}

.hovered {
  background-color: var(--kbq-states-background-transparent-hover);
}

.pressed {
  background-color: var(--kbq-states-background-transparent-active);
}

.focusVisible {
  --table-cell-outline-color: var(--kbq-states-line-focus-theme);
}

.selected {
  background-color: var(--kbq-background-contrast);
  color: var(--kbq-foreground-on-contrast);
}

/* week day */
.weekDay {
  color: var(--kbq-foreground-contrast-tertiary);
  inline-size: 40px;
  block-size: 32px;
}

.popover {
  min-inline-size: 200px;
}
