.body {
  flex: 1 1;
  display: flex;
  margin-block-end: 56px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--kbq-size-3xl);
}

.header {
  inline-size: 100vw;
  block-size: 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: var(--kbq-size-l);
}
