.base {
  --popover-inline-size: ;
  display: flex;
  border-radius: var(--kbq-size-m);
  box-shadow: var(--kbq-shadow-overlay);
  background-color: var(--kbq-background-bg);
  inline-size: var(--popover-inline-size);
  transition:
    opacity var(--kbq-transition-default),
    transform var(--kbq-transition-default);
}

.base[data-placement='top'][data-arrow='true'] {
  margin-block-end: 10px;
}

.base[data-placement='bottom'][data-arrow='true'] {
  margin-block-start: 10px;
}

.base[data-placement='left'][data-arrow='true'] {
  margin-inline-end: 10px;
}

.base[data-placement='right'][data-arrow='true'] {
  margin-inline-start: 10px;
}

/* arrow */
.arrow {
  z-index: -1;
  inline-size: 12px;
  block-size: 12px;
  position: absolute;
  box-shadow: inherit;
  background-color: inherit;
}

.arrow[data-placement='top'] {
  inset-block-end: -5px;
  transform: translate(-50%) rotate(45deg);
}

.arrow[data-placement='bottom'] {
  inset-block-start: -5px;
  transform: translate(-50%) rotate(45deg);
}

.arrow[data-placement='left'] {
  inset-inline-end: -5px;
  transform: translateY(-50%) rotate(45deg);
}

.arrow[data-placement='right'] {
  inset-inline-start: -5px;
  transform: translateY(-50%) rotate(45deg);
}

/* underlay */
.underlay {
  inset: 0;
  position: fixed;
}

/* dialog */
.dialog {
  border-radius: inherit;
  background-color: inherit;
}

/* transition */
.base[data-transition='entering'] {
  opacity: 1;
}

.base[data-transition='entered'] {
  opacity: 1;
}

.base[data-transition='exiting'] {
  opacity: 0;
}

.base[data-transition='exited'] {
  opacity: 0;
}
