.base {
  --modal-window-offset: 48px;
  inset: 0;
  display: flex;
  position: fixed;
  pointer-events: none;
  z-index: var(--kbq-layer-modal);
}

/* states */
.small {
  --modal-window-inline-size: 400px;
}

.medium {
  --modal-window-inline-size: 640px;
}

.large {
  --modal-window-inline-size: 960px;
}

/* animation */
.base[data-transition='entering'] .modal {
  opacity: 1;
  transform: translate(-50%, 0);
}

.base[data-transition='entered'] .modal {
  opacity: 1;
  transform: translate(-50%, 0);
}

.base[data-transition='exiting'] .modal {
  opacity: 0;
  transform: translate(-50%, 100px);
}

.base[data-transition='exited'] .modal {
  opacity: 0;
  transform: translate(-50%, 100px);
}

/* modal */
.modal {
  display: flex;
  position: absolute;
  pointer-events: auto;
  inset-inline-start: 50%;
  border-radius: var(--kbq-size-m);
  transform: translate(-50%, 100px);
  box-shadow: var(--kbq-shadow-overlay);
  background-color: var(--kbq-background-bg);
  inset-block-start: var(--modal-window-offset);
  max-inline-size: var(--modal-window-inline-size);
  inline-size: calc(100% - var(--modal-window-offset) * 2);
  max-block-size: calc(100vh - var(--modal-window-offset) * 2);
  transition:
    opacity var(--kbq-transition-slow),
    transform var(--kbq-transition-slow);
}
