/* container */
.base {
  --table-container-block-size: ;
  --table-container-min-block-size: unset;
  --table-container-max-block-size: unset;
  --table-cell-padding: 10px var(--kbq-size-s);
  --table-cell-color: var(--kbq-foreground-contrast);
  --table-header-cell-padding: 10px var(--kbq-size-s);
  --table-header-cell-color: var(--kbq-foreground-contrast-secondary);
  --table-border: 1px solid var(--kbq-line-contrast-less);
  overflow: auto;
  block-size: var(--table-container-block-size);
  min-block-size: var(--table-container-min-block-size);
  max-block-size: var(--table-container-max-block-size);
}

.fullWidth .table {
  inline-size: 100%;
}

.base:where([data-divider='none']) {
  .cell:first-child {
    border-start-start-radius: var(--kbq-size-s);
    border-end-start-radius: var(--kbq-size-s);
  }

  .cell:last-child {
    border-start-end-radius: var(--kbq-size-s);
    border-end-end-radius: var(--kbq-size-s);
  }

  .row {
    border-radius: var(--kbq-size-s);
  }

  .row:first-child {
    border-start-start-radius: 0;
    border-start-end-radius: 0;

    .cell:first-child {
      border-start-start-radius: 0;
      border-end-start-radius: var(--kbq-size-s);
    }

    .cell:last-child {
      border-start-end-radius: 0;
      border-end-end-radius: var(--kbq-size-s);
    }
  }
}

.base:where([data-divider='row']) {
  .cell {
    border-block-end: var(--table-border);
  }
}

.base:where([data-sticky-header='true']) .thead {
  position: sticky;
  inset-block-start: 0;
  background-color: var(--kbq-background-bg);
}

/* table */
.table {
  border-spacing: 0;
}

/* cell */
.cell {
  outline: none;
  box-sizing: border-box;
  color: var(--table-cell-color);
  padding: var(--table-cell-padding);
}

/* row */
.row {
  outline: none;
  cursor: default;
  box-sizing: border-box;
  transition: background-color var(--kbq-transition-default);

  &.hovered {
    background-color: var(--kbq-states-background-transparent-hover);
  }

  &:last-child .cell {
    border-block-end: 0 solid;
  }
}

/* header-cell */
.header-cell {
  outline: none;
  cursor: default;
  border-block-end: var(--table-border);
  color: var(--table-header-cell-color);
  padding: var(--table-header-cell-padding);
}

/* states */
.focusVisible {
  outline-offset: -2px;
  outline: 2px solid var(--kbq-states-line-focus-theme);
}

.top {
  vertical-align: top;
}

.baseline {
  vertical-align: baseline;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.sub {
  vertical-align: sub;
}

.text-top {
  vertical-align: text-top;
}
