.container {
  --table-container-block-size: 100%;
  --table-container-min-block-size: unset;
  --table-container-max-block-size: unset;
  --table-container-scroll-padding-top: 0;
  --table-cell-padding: 10px var(--kbq-size-s);
  --table-cell-color: var(--kbq-foreground-contrast);
  --table-header-cell-padding: 10px var(--kbq-size-s);
  --table-border: 1px solid var(--kbq-line-contrast-less);
  --table-header-cell-color: var(--kbq-foreground-contrast-secondary);
  block-size: var(--table-container-block-size);
  min-block-size: var(--table-container-min-block-size);
  max-block-size: var(--table-container-max-block-size);
  scroll-padding-block-start: var(--table-container-scroll-padding-top);
}

.fullWidth .base {
  inline-size: 100%;
}

[data-divider='none'] {
  tbody td {
    &:first-child {
      border-start-start-radius: var(--kbq-size-s);
      border-end-start-radius: var(--kbq-size-s);
    }

    &:last-child {
      border-start-end-radius: var(--kbq-size-s);
      border-end-end-radius: var(--kbq-size-s);
    }
  }

  tbody tr {
    border-radius: var(--kbq-size-s);

    &:first-child {
      border-start-start-radius: 0;
      border-start-end-radius: 0;

      td:first-child {
        border-start-start-radius: 0;
        border-end-start-radius: var(--kbq-size-s);
      }

      td:last-child {
        border-start-end-radius: 0;
        border-end-end-radius: var(--kbq-size-s);
      }
    }
  }
}

[data-divider='row'] {
  tbody td {
    border-block-end: var(--table-border);
  }
}

[data-sticky-header='true'] {
  overflow-block: auto;

  thead {
    z-index: 1;
    position: sticky;
    inset-block-start: 0;
    background-color: var(--kbq-background-bg);
  }
}

/* Table */
.base {
  border-spacing: 0;
}

[aria-multiselectable='true'] tbody {
  tr {
    &:is([data-selected='true'], [data-focus-visible='true']):has(
        + :is([data-selected='true'], [data-focus-visible='true'])
      ) {
      border-end-start-radius: 0;
      border-end-end-radius: 0;

      td:first-child {
        border-end-start-radius: 0;
      }

      td:last-child {
        border-end-end-radius: 0;
      }
    }

    &:is([data-selected='true'], [data-focus-visible='true'])
      + :is([data-selected='true'], [data-focus-visible='true']) {
      border-start-start-radius: 0;
      border-start-end-radius: 0;

      td:first-child {
        border-start-start-radius: 0;
      }

      td:last-child {
        border-start-end-radius: 0;
      }
    }
  }
}
