@import url('../../../styles/mixins.css');

.base {
  @mixin typography text-normal;

  color: var(--kbq-foreground-contrast);
  vertical-align: top;
  box-sizing: border-box;
}

.hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  block-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  inline-size: 1px;
  white-space: nowrap;
}

.sup {
  color: var(--kbq-foreground-error);
  line-height: 0;
  position: relative;
  vertical-align: baseline;

  @mixin typography text-normal;
}

[data-label-placement='top'] .base {
  padding-block-end: var(--kbq-size-xs);
}

[data-label-placement='side'] .base {
  padding-block-start: var(--kbq-size-xs);
  padding-inline-end: var(--kbq-size-l);
}

[data-label-align='start'] .base {
  text-align: start;
}

[data-label-align='end'] .base {
  text-align: end;
  justify-content: flex-end;
}
