@import url('../../../styles/mixins.css');

.base {
  border: none;
  outline: none;
  inline-size: 100%;
  box-sizing: border-box;
  color: var(--form-field-control-color);
  background-color: transparent;
  padding-block: var(--form-field-control-padding-block-start)
    var(--form-field-control-padding-block-end);
  padding-inline: 0;
  transition:
    color var(--kbq-transition-default),
    background-color var(--kbq-transition-default);
  min-inline-size: 40px;

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--kbq-background-theme-fade) inset !important;
    background-color: transparent !important;
  }

  &::placeholder {
    color: var(--form-field-control-placeholder-color);
  }

  @mixin typography text-normal;
}

.base:where(input) {
  block-size: var(--form-field-control-size-height);
}

.base:where(textarea) {
  min-block-size: var(--form-field-control-size-height);
  padding-inline: var(--form-field-control-padding-inline-start)
    var(--form-field-control-padding-inline-end);
  resize: none;
}

.base:disabled {
  cursor: not-allowed;
}
