.base {
  --content-panel-start-position: 100%;
  --content-panel-resizer-width: var(--kbq-size-l);

  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  block-size: 100%;
  overflow: unset;
  z-index: 2;
  background-color: var(--kbq-background-card);
  border-radius: var(--kbq-size-l);
  border: 1px solid var(--kbq-line-contrast-less);
  transition: transform var(--kbq-transition-slow);
}

/* animation */
.base[data-transition='entering'] {
  transform: translate(0, 0);
}

.base[data-transition='entered'] {
  transform: translate(0, 0);
}

.base[data-transition='exiting'] {
  transform: translate(var(--content-panel-start-position), 0);
}

.base[data-transition='exited'] {
  transform: translate(var(--content-panel-start-position), 0);
}

/* resizer */
.resizer {
  cursor: ew-resize;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(var(--content-panel-resizer-width) / -2);
  inline-size: var(--content-panel-resizer-width);
  block-size: 100%;
  z-index: 2;
}
