.base {
  margin: unset;

  & > * {
    cursor: pointer;
  }

  & > button {
    font: inherit;
    background: none;
    border: none;
    padding: 0;
  }

  &:has(:disabled) > * {
    cursor: not-allowed;
  }
}
