.base {
  display: flex;
  position: relative;
  cursor: pointer;
  outline: none;
  text-align: center;
  align-items: stretch;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--tab-color);
  inline-size: var(--tab-inline-size);
  min-block-size: var(--tab-block-size);
  min-inline-size: var(--tab-min-inline-size);
}

.hovered {
  --tab-bg-color: var(--kbq-states-background-transparent-hover);
}

.focusVisible {
  --tab-outline-color: var(--kbq-states-line-focus-theme);
}

.disabled {
  --tab-color: var(--kbq-states-foreground-disabled);

  cursor: not-allowed;
}

.underlined {
  padding-block: var(--kbq-size-s);
}

/* content */
.content {
  display: flex;
  overflow: hidden;
  inline-size: 100%;
  white-space: nowrap;
  align-items: center;
  text-overflow: ellipsis;
  border-radius: var(--tab-border-radius);
  outline-offset: calc(-1 * var(--tab-outline-width));
  outline: var(--tab-outline-width) solid var(--tab-outline-color);
  background-color: var(--tab-bg-color);
  padding-block: var(--tab-padding-block);
  padding-inline: var(--tab-padding-inline);
  justify-content: var(--tab-justify-content);
  transition:
    outline-color var(--kbq-transition-default),
    background-color var(--kbq-transition-default),
    color var(--kbq-transition-default);
}
