@import url('../../../../styles/mixins.css');

.base {
  --breadcrumb-color: var(--kbq-foreground-contrast-secondary);
  --breadcrumb-padding: var(--kbq-size-3xs) var(--kbq-size-xs);
  --breadcrumb-outline-width: var(--kbq-size-3xs);
  --breadcrumb-outline-color: transparent;
  --breadcrumb-block-size: ;
  --breadcrumb-bg-color: ;

  border: none;
  display: flex;
  cursor: pointer;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  gap: var(--kbq-size-xs);
  color: var(--breadcrumb-color);
  border-radius: var(--kbq-size-xs);
  padding: var(--breadcrumb-padding);
  background-color: var(--breadcrumb-bg-color);
  outline: var(--breadcrumb-outline-width) solid;
  outline-color: var(--breadcrumb-outline-color);
  block-size: var(--breadcrumb-block-size);
  min-block-size: var(--breadcrumb-block-size);
  transition:
    color var(--kbq-transition-default),
    outline var(--kbq-transition-default),
    background-color var(--kbq-transition-default);

  & > * {
    flex-shrink: 0;
  }
}

.hovered {
  --breadcrumb-bg-color: var(--kbq-states-background-transparent-hover);
}

.pressed {
  --breadcrumb-bg-color: var(--kbq-states-background-transparent-active);
}

.focusVisible {
  --breadcrumb-outline-color: var(--kbq-states-line-focus-theme);
}

.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: none;
}

.current {
  --breadcrumb-bg-color: ;
  --breadcrumb-color: var(--kbq-foreground-contrast);

  cursor: default;
}

.compact {
  @mixin typography text-normal;

  --breadcrumb-block-size: var(--kbq-size-xxl);
}

.normal {
  @mixin typography text-big;

  --breadcrumb-block-size: var(--kbq-size-3xl);
}

.big {
  @mixin typography subheading;

  --breadcrumb-block-size: var(--kbq-size-3xl);
}

.compact:where(.current) {
  @mixin typography text-normal-medium;
}

.normal:where(.current) {
  @mixin typography text-big-medium;
}

.big:where(.current) {
  @mixin typography subheading;
}
