@import url('../../../../styles/mixins.css');

.base {
  --breadcrumb-color: var(--kbq-foreground-contrast-secondary);
  --breadcrumb-padding: var(--kbq-size-3xs) var(--kbq-size-xs);
  --breadcrumb-outline-width: var(--kbq-size-3xs);
  --breadcrumb-outline-color: transparent;
  --breadcrumb-bg-color: ;

  cursor: pointer;
  box-sizing: border-box;
  color: var(--breadcrumb-color);
  border-radius: var(--kbq-size-xs);
  padding: var(--breadcrumb-padding);
  outline: var(--breadcrumb-outline-width) solid;
  outline-color: var(--breadcrumb-outline-color);
  background-color: var(--breadcrumb-bg-color);
  transition:
    color var(--kbq-transition-default),
    outline var(--kbq-transition-default),
    background-color var(--kbq-transition-default);
}

.hovered {
  --breadcrumb-bg-color: var(--kbq-states-background-transparent-hover);
}

.pressed {
  --breadcrumb-bg-color: var(--kbq-states-background-transparent-active);
}

.focusVisible {
  --breadcrumb-outline-color: var(--kbq-states-line-focus-theme);
}

.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: none;
}

.current {
  --breadcrumb-bg-color: ;
  --breadcrumb-color: var(--kbq-foreground-contrast);

  cursor: default;
}

.compact:where(.current) {
  @mixin typography text-normal-medium;
}

.normal:where(.current) {
  @mixin typography text-big-medium;
}

.big:where(.current) {
  @mixin typography subheading;
}
