.base {
  --grid-item-col-end: 1;
  --grid-item-row-end: 1;
  --grid-align-self: initial;
  --grid-item-col-start: span;
  --grid-item-row-start: span;
  --grid-justify-self: initial;

  place-self: var(--grid-align-self) var(--grid-justify-self);
  grid-row: var(--grid-item-row-start) var(--grid-item-row-end);
  grid-column: var(--grid-item-col-start) var(--grid-item-col-end);
}
