.base {
  margin: 0;
  flex-shrink: 0;
  border-style: solid;
  border-color: var(--kbq-line-contrast-less);
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}

.vertical {
  block-size: 100%;
  inline-size: 0;
  border-width: 0 1px 0 0;
}

.horizontal {
  block-size: 0;
  inline-size: 100%;
  border-width: 0 0 1px;
}

.flexItem {
  block-size: auto;
  align-self: stretch;
}
