.base {
  --divider-color: var(--kbq-line-contrast-less);
  --divider-inline-padding: var(--kbq-size-xxs);
  --divider-block-padding: var(--kbq-size-xxs);
  --divider-size: 1px;

  margin: 0;
  flex-shrink: 0;
  border-style: solid;
  border-color: var(--divider-color);
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}

.vertical {
  --divider-paddings: 0 var(--divider-inline-padding);

  inline-size: 0;
  block-size: 100%;
  border-width: 0 var(--divider-size) 0 0;
}

.horizontal {
  --divider-paddings: var(--divider-block-padding) 0;

  block-size: 0;
  inline-size: 100%;
  border-width: 0 0 var(--divider-size);
}

.hasPaddings {
  margin: var(--divider-paddings);
}

.flexItem {
  block-size: auto;
  align-self: stretch;
}
